---
layout: layout.liquid
---

<div class="home">
  <div class="home__firstview">
    <section class="home__firstview-txt">
      <h1>呼吸書房</h1>
      <p>呼吸書房へようこそ。当サイトでは、私、風野湊による制作物を公開しています。<br>小説・詩・紀行文のほか、旅先の写真や音楽、そして朗読音声もほんのすこし。<br>路上で出会った本棚のように、どうぞゆっくりとお楽しみください。</p>
      <p>書斎と書店、ふたつの意味を持つ「書房」の名のとおり、<br>一部の作品は書籍化し、販売を行っています。<br>出展イベントや委託販売先でもお買い求めいただけます。</p>
      <nav class="home__nav">
        <h2 class="heading heading--default">menu</h2>
        <ul class="home__nav-list">
          <li><a href="/about">about</a></li>
          <li><a href="/event">event</a></li>
          <li><a href="/contact">contact</a></li>
          <li><a href="#booklist">book-list</a></li>
          <li><a href="#webnovel">web-novel</a></li>
          <li><a href="#otherwork">other-work</a></li>
          <li><a href="#onlinestore">online-store</a></li>
        </ul>
      </nav> 
      <section class="home__news">
        <h2 class="heading heading--default">news</h2>
        <dl class="home__news-body">
          <dt>2023.2.26</dt>
          <dd><a href="">出店予定：文学フリマ広島「い-16」呼吸書房</a></dd>
        </dl>
      </section>
    </section>
    <div class="home__firstview-bg__wrapper">
      <div class="home__firstview-bg">
        <figure class="home__firstview-image">
          <img src="/assets/img/mv_treeislight.jpg" alt="" loading="lazy" width="2000">
          <figcaption>書籍表紙装画：佐野裕一さん</figcaption>
        </figure>
        <div class="home__firstview-image__txt font-serif">
          <p>夜が明けると、村に人間は一人もいなかった。少年は、昨日まで人間だった蛾や蝙蝠や蛙の群れを引き連れて、森の奥へ帰っていった。彼らを近くの水辺に放し、昨日まで人間だった様々な種は、すべて母の根元に蒔いた。やがて、その一帯は花が咲き乱れ、蜜に誘われた鳥や獣の歌声で、いつまでも賑わうようになったという。</p>
          <div class="align-right">
            <a href="/novel/trees-light/">『すべての樹木は光』<span>詳細ページへ</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="booklist" class="home__section page-width">
    <header class="home__section-title">
      <h2 class="heading home__section-heading">book-list</h2>
      <p class="home__section-title-txt">書籍一覧（表紙を選択すると詳細が表示されます）</p>
    </header>
    {%- assign novels-info-title = '『walking postcard vol.6』, 
    『彼らは唯の夢』, 
    『すべての樹木は光』, 
    『永遠の不在をめぐる』, 
    『青と茜と砂漠の国』, 
    『竜の花嫁』, 
    『旅人よ立ち止まれ』, 
    『紙飛行機に眠る月』' | split: ', ' -%}
    {%- assign novels-info-handle = 'postcard-6, dream, tree, eien, aoakane, ryuyome, tabibito, airplane' | split: ', ' -%}
    {%- assign novels-info-detail = '2022.11.20刊行, 
    2021.11.23刊行, 
    2020.11.22刊行, 
    2015.11.23刊行, 
    2014.11.24刊行, 
    2014.11.24刊行（2017.3.26新装版刊行）, 
    2012.11.18刊行（2016.9.4新装版刊行）, 
    2012.11.18刊行（2014.5.10新装版刊行）' | split: ', ' -%}
    <div id="tabBookList">
      <ul role="tablist" class="book-tab">
        {%- for book in novels-info-title -%}
          <li role="presentation" class="book-tab__item">
            <button
              role="tab"
              aria-controls="panel{{ forloop.index }}"
              aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
              tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
            >
              <img src="/assets/img/hyoushi-{{ novels-info-handle[forloop.index0] }}.jpg" alt="{{ book }}表紙イメージ" loading="lazy" width="200">
            </button>
          </li> 
        {%- endfor -%}
      </ul>
      <div class="book-tab__contents">
        {%- for book in novels-info-title -%}
          <section id="panel{{ forloop.index }}" role="tabpanel" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" tabindex="0" class="book-tab__contents-item book-info">
            <header class="book-info__header">
              <h3 class="book-info__title">{{ book }}</h3>
              <span class="book-info__data">{{ novels-info-detail[forloop.index0] }}</span>
            </header>
            <div class="book-info__detail">
              {%- include '_includes/info-{{novels-info-handle[forloop.index0]}}' -%}
            </div>
          </section>
        {%- endfor -%}
      </div>
    </div>
  </section>
  <section id="webnovel" class="home__section page-width">
    <h2>web-novel</h2>
    {%- for novel in collections.novel -%}
      {%- if novel.data.tags contains 'book-paperplane' -%}
        {% assign novels-paperplane = novels-paperplane | concat: novel %}
      {%- elsif novel.data.tags contains 'book-eien' -%}
        {% assign novels-eien = novels-eien | concat: novel %}
      {%- elsif novel.data.tags contains 'improvise' -%}
        {% assign novels-improvise = novels-improvise | concat: novel %}
      {%- endif -%}
    {%- endfor -%}
    <section>
      <h3>紙飛行機に眠る月</h3>
      {% for novel in novels-paperplane %}
        <h4><a href="{{ novel.url }}">{{ novel.data.title }}</a></h4>
      {% endfor %}
    </section>
    <section>
      <h3>永遠の不在をめぐる</h3>
      {% for novel in novels-eien %}
        <h4><a href="{{ novel.url }}">{{ novel.data.title }}</a></h4>
      {% endfor %}
    </section>
    <section>
      <h3>即興小説</h3>
      {% for novel in novels-improvise %}
        <h4><a href="{{ novel.url }}">{{ novel.data.title }}</a></h4>
      {% endfor %}
    </section>
  </section>
  <section id="otherwork" class="home__section page-width">
    <h2>other-work</h2>
  </section>
  <section id="onlinestore" class="home__section page-width">
    <h2>online-store</h2>
    BOOTH
    架空ストア
  </section>
</div>