<p>【幻想短編集Ⅱ / 文庫版 / オンデマンドフルカラー表紙 / 114ページ】</p>
<p class="book-info__copy">あなたの不在を愛する。</p>
<p>きみはどこにもいない。<br>この世どころかあの世にも、あらゆる過去にも未来にも、きみは永遠に存在しない。</p>
<p>◇　◆　◇</p>
<p>「不在」をテーマにした、ふたつめの幻想短編集です。<br>何かを失い、あるいは投げ捨て、もしくは奪われたひとびとの、<br class="hidden-phone">永遠に埋まらない空席を眺めつづけるような短編と掌編を７編収録。</p>
<p>各編の舞台は、遠い未来、現代東京、天国と地獄、そして暗闇をめぐります。<br>登場人物たちに関連性はありません。<br>そもそも登場人物さえ不在かもしれません。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/231727" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
  <li><a href="https://store.retro-biz.com/i20355.html" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：架空ストア（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4>＜収録作品＞</h4>
  </header>
  <ul class="list__style--dot">
    <li><a href="/novel/sea-buy/">海を商う</a></li>
    <li><a href="/novel/dreamtime/">夢みる時差のために</a></li>
    <li><a href="/novel/writer-crime/">作家と刑罰</a></li>
    <li>踊ろうポラリス</li>
    <li><a href="/novel/heavens-hell/">昼の光から逃れるために</a></li>
    <li>くらやみのこども</li>
    <li>あなたの不在を愛する</li>
  </ul>
  <blockquote>
    <p>おかしな話だと思わないか。<br>存在しないきみの不在を、ぼくはなぜだか知っているのだ。</p>
    <p>その瞳を、声を、微笑を<br>まるで眼前に在るかのように<br>うつくしく克明に夢みながら<br>その不在を信じるがゆえに<br>ぼくはきみの実在を信じる。</p>
  </blockquote>
</section>