<p>【エッセイ＆ガイドブック / 文庫版 / 中綴じ本 / 24P（フルカラー）】</p>
<p class="book-info__copy">植物園では、皆、思い思いに好きなことをしている。</p>
<p>本書は、この数年で訪ねた東京都内にある植物園のいくつかを、小さなエッセイと写真とともに一冊にまとめたものです。<br>
『すべての樹木は光』続編冒頭で、未来の植物園を舞台にしようと決めてから、元から好きだった植物園にさらに足繁く通うようになりました。ガイドブックと呼ぶにはささやかなこの本が、植物園へ散歩に行くひとをもうひとり増やす切っ掛けになったら嬉しく思います。</p>

<p><s>本文用紙はクラフト紙と白上質紙の二種類から選べます。在庫切れの場合はご了承ください。<br>
手製本のため、本文中に2mm前後のズレが含まれる場合があります。<br>
在庫状況によってはご注文いただいてから印刷・製本するため、お届けまで少々お待たせする場合があります。</s></p>

<p>2025年11月の増刷分から、手製本ではなく印刷所利用に仕様を変更しました。本文用紙も白上質紙に統一となります。（用紙自体はまだ少し残っているので、手製本のクラフト紙版もごく少数追納することはあるかもしれません）</P>

<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/6762571" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4>＜掲載施設＞</h4>
  </header>
  <p><a href="https://www.tokyo-park.or.jp/park/jindai/index.html" target="_blank" rel="noopenner noreferrer">神代植物公園</a>（調布市）<br>　温室の休憩室でコーヒーを/ バラ園テラスで一休み</p>
  <p><a href="https://www.seibu-la.co.jp/nettaikan/" target="_blank" rel="noopenner noreferrer">熱帯環境植物館</a>（板橋区）<br>　ゆらめく水槽/ 窓越しに眺める樹冠/ 充実の図書コーナー</p>
  <p><a href="https://www.yumenoshima.jp/botanicalhall" target="_blank" rel="noopenner noreferrer">夢の島熱帯植物館</a>（江頭区）<br>　駅からの道行き/ 遥々と見上げる椰子/ ベンチから臨む海</p>
  <p><a href="https://fng.or.jp/shinjuku/" target="_blank" rel="noopenner noreferrer">新宿御苑</a>（新宿区）<br>　温室で垣間見る静寂/ 樹齢を経た庭園の木々</p>
  <p><a href="https://koishikawa-bg.jp/" target="_blank" rel="noopenner noreferrer">小石川植物園</a>（文京区）<br>　日本最古の植物園/ 長閑な並木道/ 植物研究の最前線</p>
  <p><a href="https://www.ffpri.affrc.go.jp/tmk/" target="_blank" rel="noopenner noreferrer">森林総合研究所 多摩森林科学園</a>（八王子市）<br>　樹木繁れる山林を歩く/ ひとの暮らしと森の境</p>
</section>