<p>【長編小説 / 新書版 / オンデマンドフルカラー表紙 / 178ページ】</p>
<p class="book-info__copy">どうしても死にたくない。</p>
<p>守り神たる竜の在る世界。<br>最後に捧げられたのは、村でもっとも嫌われた娘。<br>野火のように激しく、荒々しく、彼女は村を憎んだ。</p>
<p>◇　◆　◇</p>
<p>風景幻想特化のハイファンタジー小説です。<br>起承転結よりも、世界の在り様やひとびとの仕草、感情、日常の手仕事を愛する方に、楽しんでいただけるように思います。<br>ファンタジーと銘打っているものの、明確な魔法は登場しません。</p>
<a href="https://kokyushobo.booth.pm/items/229863" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a>
<hr>
<section>
  <header class="book-info__header">
    <h4>＜本編目次＞</h4>
  </header>
  <p>名もなき竜の宮Ⅰ</p>
  <p>竜の花嫁<br>
    　一章　嫁入りの日<br>
    　二章　金の瞳、遠雷の声<br>
    　三章　雨と眠りに安らぐもの<br>
    　四章　かつて殺されたすべての私たちへ<br>
    　五章　野火迫る<br>
    　六章　竜の花嫁</p>
  <p>名もなき竜の宮Ⅱ</p>
  <blockquote>
    <p>なぜ、自分が殺されねばならないのか。<br>問うた娘に竜は答えた。</p>
    <p>「いいや私はもう人間を喰わない。おまえは村に帰っていいのだ」</p>
  </blockquote>
  <dl>
    <dt>Special Thanks</dt>
    <dd>表紙装画：そぞらさん <a href="https://twitter.com/r_sozora" target="_blank" rel="noopenner noreferrer">https://twitter.com/r_sozora</a></dd>
  </dl>
</section>
<hr>