<p>【個人連載雑誌 / 第11号 / A5 / オンデマンドフルカラー表紙 / 42ページ / 小部数・再版予定なし】</p>
<p>『walking postcard』は、呼吸書房が2018年11月から発行している小さな雑誌です。<br>書き手はひとまず私ひとり。<br>一冊の本にまとまる前の、小説や旅行記、短編や掌編、散文、詩、独り言などなどを、<br class="hidden-phone">旅先から送る便りのように、気の向くままに、自由に、お届けできたらと思っています。</p>
<p>本書の売上はすべて、UNRWA（国連パレスチナ難民救済事業機関）およびUNHCR（国連難民高等弁務官事務所）に寄付します。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/6326327" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from an attic</h4>
  </header>
  <p>日々書き連ねた小説から、単行本未収録の作品を掲載。<br>本作は今年の春、公募用に執筆した短編です。<br>自作『すべての樹木は光』と直接の関連はないものの、これもまた、ひとつの樹木変身譚であり、彼らと同じ世界の物語なのかもしれません。</p>
  <p>＜掲載作品＞<br>
・ダフネの子供たち<br>
・後書き：ダフネに寄せて</p>
  <blockquote>
    <p>三番目の満月が欠けてゆき、沖合から生温かい南風が吹きはじめると、浜辺には毎日のように人間が流れつくようになった。<br>枯木のような老人から、一人歩きを覚えたばかりの子供まで、<br>誰もが鮮やかなオレンジ色のライフジャケットを身につけたまま波に漂い、やがて砂浜に打ちあげられる。</p>
  </blockquote>
</section>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from Europe</h4>
  </header>
  <p>2024年10月、三週間に渡って旅した、 フランスとスペイン（＋ロンドン）のささやかな記録。</p>
  <p>＜掲載作品＞<br>
・シャルル・ド・ゴールの夕焼け<br>
・キューガーデンの大温室<br>
・プロヴァンスの小さなカフェで<br>
・ジローナと文机<br>
・サラゴサとエレベーター<br>
・グラナダと歩数計<br>
・バルセロナと土砂降り</p>
</section>