<p>【個人連載雑誌 / 第5号 / A5 / オンデマンドモノクロ表紙 / 20P / 小部数・再販予定なし】</p>
<p>『walking postcard』は、呼吸書房が2018年11月から発行している小さな雑誌です。<br>書き手はひとまず私ひとり。<br>一冊の本にまとまる前の、小説や旅行記、短編や掌編、散文、詩、独り言などなどを、<br class="hidden-phone">旅先から送る便りのように、気の向くままに、自由に、お届けできたらと思っています。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/3867299" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from an attic</h4>
  </header>
  <p>『永遠の不在をめぐる』刊行後に執筆した即興小説を元に、掌編2本と詩を掲載。<br>全編改稿済み、投稿時未完だった掌編については結末を書き下ろししています。<br>いつか短編集に収録されることがあれば、本文は修正が入るかもしれません。</p>
  <p>＜掲載作品＞<br>
・こっちへおいで、ここに座って（掌編）<br>
・雪原は過去がよく見える（掌編）<br>
・歴史の白く降り積もる（詩）</p>
</section>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from my diary</h4>
  </header>
  <p>出そうか出すまいか迷ったけれど、やはり形に残しておくことにする。<br>2022年2月24日以降の、物語にまつわる個人的な話。</p>
  <p>この絵葉書を読んでいるあなたが、『すべての樹木は光』を読み終えているかどうか、私には知る術がない。もし未読であって、物語の展開を知りたくなかったら、本棚に仕舞っておいてほしい。<br>『すべての樹木は光』はユハの記憶を綴った物語だった。<br>ユハ以外の人物は、主に彼女の視点や伝聞を通じて描写されている。<br>だから、書かれなかった内面に物語の外で言及するのは、あまりフェアではない、と思う、のだけど、現実がこうなってしまった以上、少しだけなら彼も許してくれると信じて書くことにする。ニイジェの兵役忌避について。</p>
</section>