<p>【長編小説 / 四六判 / オンデマンドフルカラー表紙 / 246ページ】</p>
<p class="book-info__copy">新たな芽を。魔法を。何度でも。</p>

<p>揺らぐ森、うつくしい森、夜が明ける頃のこと。<br>一本の樹木が静かに傾ぎ、人間へと変わっていく。<br>長きに渡る変身の魔法は終わりを告げた。<br>樹木に変えられてから百二十七年の時が経ち、彼女を覚えている者はもう誰もいない。<br>はるかな遠い未来、長い旅路の果てに、彼女はようやく思い出す。<br>かつて手放した魔法のことを。</p>

<p>◇　◆　◇</p>

<p>架空の熱帯雨林を舞台とした樹木変身譚、<a href="/book/trees_light/" class="link">『すべての樹木は光』</a>の続編をお届けします。<br>樹木に変えられた人間の、魔法が解けたその後を描く幻想（ファンタジー）小説です。<br>人間だけではない世界の風景描写に触れたい方、幻想と共に歩みたい方、かつてどこかで願いを手放したことがある方へ。</p>

<p>前作冒頭から百二十七年後の世界が舞台であり、登場人物も（主人公のユハを除き）ほぼ新たな顔ぶれなので、前作未読でもお読み頂けます。作中では前作の結末などへの言及が含まれる点にご留意ください。<br>前作刊行から六年が経ちましたが、作中ではさらに長い年月、百二十七年もの時間が経過しているため、前作の風景をうっすらと覚えてくださっていれば、お読みいただくのに支障はありません。</p>

<p><a href="/book/trees_light/introduction/" class="link">前作『すべての樹木は光』冒頭の変身シーンはこちら</a>で試し読みを公開しています。<br>本作は、ユハが樹木に変えられてから百二十七年後、その変身の魔法が解けるところから始まります。</p>

<ul class="list__flex">
  <li><a href="/book/trees_shade/introduction" class="btn btn--medium btn--color">試し読み（30000字）</a></li>
  <li><a href="https://kokyushobo.booth.pm/items/2530535" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
{% comment %}いずれ以下は特設ページへ移動したい。。{% endcomment %}
<section>
  <header class="book-info__header">
    <h4>＜本編目次＞</h4>
  </header>
  <p>第一部　彼女について<br>
  　　 1　トゥーリ<br>
  　　 2　キオ<br>
  　　 3　ライラ<br>
  </p>
  <p>第二部　揺らぎの庭<br>
  　　 4　ユハ<br>
  　　 5　トゥイ<br>
  　　 6　変わり者<br>
  　　 7　反転<br>
  </p>
  <p>第三部　夜の木陰を渡り<br>
  　　 8　孤絶<br>
  　　 9　樹木たち<br>
  　　10　雨と星<br>
  　　11　あなたに歌を<br>
  </p>
  <blockquote>
    <p>それは、かつて魔法で樹木に変えられた娘だった。彼女の周囲には、居場所をなくしたものが次々に降りそそいだ。鳥の巣、羊歯の葉、苔と地衣類、それは、娘が樹木だったとき、その身体に抱えていたものだった。巣立ち前の雛鳥は墜落の衝撃で死に、羊歯の葉は折れ、蘭の花は砕けた。樹洞に暮らした蟻の群れは散り散りとなり、今しも蜘蛛に喰われるところだ。土壌と根を繋ぐ無数の菌根菌も、もう娘を助けはしない。<br>百二十七年ぶりの呼吸に激しく咳込む背中に、朝日が触れた。<br>おはよう、ユハ。</p>
  </blockquote>

  <dl>
    <dt>Special Thanks</dt>
    <dd>表紙装画：佐野裕一さん <a href=" https://x.com/sunamerius" target="_blank" rel="noopenner noreferrer"> https://x.com/sunamerius</a></dd>
    <dd>ジャケットデザイン：山川夜高さん <a href="https://libsy.net/" target="_blank" rel="noopenner noreferrer">https://libsy.net/</a></dd>
  </dl>
</section>