<p>【幻想短編集 / 文庫版 / オンデマンドフルカラー表紙 / 134ページ】</p>
<p class="book-info__copy">それでも、君は飛べるんだ。本当は唯の紙切れだとしても。</p>
<p>紙飛行機の墜落率は100%だ。<br>ヒュッと宙返りして落ちる。いきなり直角に逆立ちする。<br>風に舞い上がったとしても、最後は大地に引き戻される。</p>
<p>◇　◆　◇</p>
<p>サイト上で公開してきた作品四編に加え、新たに書き下ろした短編・掌編を五編収録した幻想短編集です。<br>作品ジャンルはSF、寓話童話、ファンタジー、現代ものと様々ですが、<br class="hidden-phone">「幻想」を一本の軸に、様々な視点から切り取った物語をお届けできればと思います。</p>
<a href="https://kokyushobo.booth.pm/items/229853" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a>
<hr>
<section>
  <header class="book-info__header">
    <h4>＜収録作品＞</h4>
  </header>
  <ul class="list__style--dot">
    <li><a href="/novel/father/">父の転生</a></li>
    <li><a href="/novel/dolly/">少女ドーリィ</a></li>
    <li>青の国</li>
    <li>竜退治の街グリムカルダ西小川通り商店街</li>
    <li>花束マダム</li>
    <li>砂漠と釣りびと</li>
    <li><a href="/novel/winters/">ある冬の日の</a></li>
    <li><a href="/novel/moonglass/">新月をグラスに注いで</a></li>
    <li>紙飛行機に眠る月</li>
  </ul>
  <blockquote>
    <p>紙飛行機の中にはお月様が眠ってる<br>3,474kmを織り込んで僕の掌から飛んで行け</p>
  </blockquote>
</section>
<hr>
