<p>【旅行記 / 新書版 / オンデマンドフルカラーカバー / 76ページ（内カラー10ページ）】</p>
<p class="book-info__copy">崩壊する空想に、どうか歓声を</p>
<p>本書はガイドブックではありません。<br>
おそらく紀行文でもありません。<br>
では小説か詩集かといえば、それも違うように思います。</p>
<p>「お話」、どうやらこれが一番近い。</p>
<p>これは、モロッコを旅したときのお話です。</p>
<p>◇　◆　◇</p>
<p>サハラ砂漠に憧れて、ひとりモロッコを訪ねたのが2014年春のこと。<br>その旅の記憶をもとに、八編のお話を書き下ろしました。<br>はたしてこれは旅行記なのか何なのか、<br class="hidden-phone">エッセイと詩と小説の間をふらふらと彷徨いつつ、<br class="hidden-phone">言葉の中でもう一度、モロッコを巡ってゆきます。</p>
<p>また、巻頭と本文中には、旅先で撮影したカラー写真10枚を収録。<br>巻末にはオマケとして、実際の旅行先で掛かった費用などをひっそりまとめています。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/231726" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
  <li><a href="https://store.retro-biz.com/i12258.html" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：架空ストア（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4>＜収録作品＞</h4>
  </header>
  <p>町の話Ⅰ<br>
  ・古都メクネス、あなたを信じます<br>
  ・ラララシャウエン、ブルーブルー<br>
  ・ハシラビード砂漠の畔<br>
  </p>
  <p>砂漠の話<br>
  ・無音にとどろく人間の声</p>
  <p>町の話Ⅱ<br>
  ・ワルザザートと境を越えて<br>
  ・マラケシュが呼ぶ雨の音<br>
  ・カサブランカに会えない</p>
  <p>静寂の話<br>
  （サハラ砂漠にて）</p>
  <p>巻末付記　旅支度のために</p>
</section>
<hr>