<p>【個人連載雑誌 / 第二号 / A5 / オンデマンドフルカラー表紙 / 70P】<br>※本書籍は販売を終了しました。電子書籍ePub版のみBOOTHで販売しています</p>
<p>『walking postcard』は、呼吸書房が2018年11月から発行している小さな雑誌です。<br>書き手はひとまず私ひとり。<br>一冊の本にまとまる前の、小説や旅行記、短編や掌編、散文、詩、独り言などなどを、<br class="hidden-phone">旅先から送る便りのように、気の向くままに、自由に、お届けできたらと思っています。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/1681833" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from an attic</h4>
  </header>
  <p>『永遠の不在をめぐる』刊行後に執筆した即興小説を元に、掌編2本と詩を掲載。<br>全編改稿済み、投稿時未完だった掌編については結末を書き下ろししています。<br>いつか短編集に収録されることがあれば、本文は修正が入るかもしれません。</p>
  <p>＜掲載作品＞<br>
・大樹と鼠<br>
・淡く優しい血だまりの花</p>
</section>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from “rain forest”</h4>
  </header>
  <p>執筆中の長編小説から途中経過50000 字を掲載します。<br>追って刊行予定の完成版では、文章・構成・展開等に変更が入る可能性があります。<br>walking postcard vol.1掲載の第一章についても、全面的な改稿・推敲を行ったため、第二号にも引き続き掲載しています。</p>
  <blockquote>
    <p>「ここらの人はみんな鳥狂いだ。なぜだか知ってるかい？」<br>ユハが首を振ると、ニイジェは声をさらに低めて囁いた。<br>「魔除けだよ。鳥を飼うことは家を守ることになる、訪れる魔の手から家族を守ることになる、朝昼夜という秩序だった時間の流れに各々を引き戻すというんだ、鳥の歌声は。僕はこの通りにいるとときどき、狂人のふりをして鳥籠という鳥籠を叩き壊したいときがあるね、千羽もの売り物たる鳥たちが一斉にこの通りから飛び立ったらさぞ愉快だろうなあ！」<br>ニイジェは笑いながらユハの顔を見て、黙りこみ、溜息をついた。<br>「冗談だよ。もしそんなことをしたって、最初の鳥籠を壊したところで取っ捕まって、犬よりも酷い目に遭うだろうさ。ねえ、ユハ、君は信じないかもしれないけど、この通りは僕が小さな子供だった頃から何も変わってないんだよ」</p>
  </blockquote>
</section>