<p>【長編小説 / 四六判 / オンデマンドフルカラー表紙予定】</p>
<p class="book-info__copy">わたしを樹木に戻してください。</p>
<p>どんな魔法にも絶対はない。</p>
<p>だから。<br>どこかの未来では必ず、年月を経た樹木が、風にゆらりと傾ぐ。<br>何の理由も意味もなく、その樹木はゆっくりと倒れながら、ほどけるように崩れてゆく。枝葉は手に。樹皮は皮膚に。何年も共に生きてきた苔やシダや鳥の巣が、支えを失い地面に墜落する。そして、人間の形をした生きものが、土壌に半ば埋もれてもがき、身を起こす。127年ぶりの呼吸に激しく咳込み、目尻に涙を滲ませながら。</p>
<p>あなたの物語はまだ終わっていない。</p>
</p>
<p>◇　◆　◇</p>
<p>2025年刊行予定、『すべての樹木は光』続編となります。<br>本編から127年後のどこかの未来、魔法が解けた後のユハをめぐる物語です。</p>
<p>刊行までの間、<a href="/blog">ブログ</a>にて進捗状況を毎月更新しています。</p>