<p>【個人連載雑誌 / 第12号 / A5 / オンデマンドフルカラー表紙 / 72ページ / 小部数・再版予定なし】</p>
<p>『walking postcard』は、呼吸書房が2018年11月から発行している小さな雑誌です。<br>書き手はひとまず私ひとり。<br>一冊の本にまとまる前の、小説や旅行記、短編や掌編、散文、詩、独り言などなどを、<br class="hidden-phone">旅先から送る便りのように、気の向くままに、自由に、お届けできたらと思っています。</p>
<ul class="list__flex">
  <li><a href="https://kokyushobo.booth.pm/items/7657542" target="_blank" rel="noopenner noreferrer" class="btn btn--medium btn--color">書籍通販：BOOTH（外部サイトへ）</a></li>
</ul>
<hr>
<section>
  <header class="book-info__header">
    <h4 class="font-serif">the letter from an "rain forest"</h4>
  </header>
  <p>現在執筆中の長編『すべての木陰に歌を』から、第一部「彼女について」を先行掲載します。<br>本当は2025年中に刊行したかったのですが、もうすこし時間が掛かりそうなので……申し訳ない。現在は第三部の終盤を執筆中です。</p>
  <p>『すべての樹木は光』の続編となる『すべての木陰に歌を』は、樹木に変えられてから127年後、魔法が解けて人間に戻ったユハの物語です。 分量はおよそ37000字、物語全体の三分の一ほど。<br>彼女が辿りついた遠い未来の風景を、どうぞお楽しみください。<br>そして、どうかユハの物語を最後まで見届けて頂けますように。</p>
  <blockquote>
    <p>赤い足跡はまっすぐに森を貫き、どこまでも、どこまでも続いた。木漏れ日にきらめく鮮血のように艶やかでありながら、彼女の素足に踏まれても擦れず、滲まず、肌を汚しもしない。その歩幅は広く、枝葉や板根に行手を塞がれようとも、ただ先へと進んでゆく。時折、転んだような形跡があった。形の崩れた足跡と、赤い手形。地面に手をつき、跳ね起きて、また駆けていったのだろう。誰かが。どこかへ。<br>「どこに行くの？」<br>何かが彼女に声を掛けた。彼女は立ち止まらなかった。言葉を失った者にとって、その声は、鳥の囀りや、蛙の輪唱と同じものでしかなかった。<br>木陰に双眼が光り、歩きつづける娘を目で追った。</p>
  </blockquote>
</section>