---
layout: layout.liquid
template: bookPage
---

<div class="page">
  <section class="page__wrapper">
    <header class="page__section-title page-width">
      <h1 class="heading page__section-heading font-serif">{{ title }}</h1>
      <p class="page__section-title-txt">{{ subtitle }}</p>
    </header>
    <div class="page__body page-width">{{ content }}</div>
  </section>
</div>