---
layout: layout.liquid
template: novelPage
---

<article class="novel font-serif">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  {% comment %}
    マウス動かしたらメニュー表示させたい　stoneぽく
  {% endcomment %}
  <div class="novel__body">{{ content }}</div>
  <div class="novel__footer">
    <hr>
    {%- for tag in tags -%}
      {%- if tag == 'book-eien' -%}
        <p>短編集『<a href="/book/eien">永遠の不在をめぐる</a>』掲載作品</p>
      {%- elsif tag == 'book-paperplane' -%}
        <p>短編集『<a href="/book/paperplane">紙飛行機に眠る月</a>』掲載作品</p>
      {%- elsif tag == 'book-dream' -%}
        <p>短編集『<a href="/book/dream">彼らは唯の夢</a>』掲載作品</p>
      {%- elsif tag == 'book-november' -%}
        <p>短編集『<a href="/book/november">十一月の春の庭</a>』掲載作品</p>
      {%- endif -%}
    {%- endfor -%}
    {%- if improvise_theme != blank -%}
      <p>投稿元：即興小説トレーニング（サービス終了に伴いリンク切れ）<br>お題「{{improvise_theme}}」を元に執筆・改稿</p>
    {%- endif -%}
    <a href="/novel/">小説一覧へ戻る</a>
    <hr>
    <div id="contact" class="novel__form">
      <form name="clap" class="form" method="POST" action="/contact/thanks" netlify>
        <input name="message" type="text" value="{{ title }}" class="visually-hidden">
        <div>
          <button class="btn btn--small btn--pale" type="submit">WebClap</button>
        </div>
      </form>
    </div>
  </div>
</article>