---
layout: layout.liquid
template: articlePage
---

<article class="novel font-serif">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  <div class="novel__body">{{ content }}</div>
  <div class="novel__footer">
  </div>
</article>