---
layout: layout.liquid
template: novelPage
---
<script src="/assets/js/novel_tree.js" defer></script>
<article class="novel font-serif">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  {% comment %}
    マウス動かしたらメニュー表示させたい　stoneぽく
  {% endcomment %}
  <blockquote>
    <p>以前には、この他人への心配りこそが彼の誇りだった。<br>
    フランツ・カフカ『変身』</p>
  </blockquote>
  <blockquote>
    <p>どうしてもどうしてもさびしくてたまらないときは<br>
    ひとはみんなきっとこういうことになる<br>
    きみたちとけふあうことができたので<br>
    わたくしはこの巨きな旅のなかの一つづりから<br>
    血みどろになって遁げなくてもいいのです<br>
    宮沢賢治『小岩井農場　パート九』</p>
  </blockquote>
{% comment %}
スクロールで背景色の変わる仕組みを入れたいな。。
ふむ、画像も置けるね　とはいえこのへんは専用レイアウトファイルにしてあげたいかな。。
<img class="" src="/assets/img/mv_treeislight.jpg" alt="" loading="lazy" width="2000">
{% endcomment %}
  <nav class="novel__nav">
    <section class="novel__nav-index">
      <h2 class="heading">本文目次</h2>
      <ol class="novel__nav-list">
        <li class="index-tree-1"><a href="#sectionMain1">introduction</a></li>
        <li class="index-tree-2"><a href="#section1">第一章　歌う雨の町</a></li>
        <li class="index-tree-3"><a href="#sectionSub1">1　いつか帰る場所</a></li>
        <li class="index-tree-3"><a href="#sectionSub2">2　相槌と挨拶</a></li>
        <li class="index-tree-2"><a href="#section2">第二章　歌う雨の町</a></li>
        <li class="index-tree-3"><a href="#sectionSub3">3　鳥市場</a></li>
        <li class="index-tree-3"><a href="#sectionSub4">4　雲と煙の兄弟</a></li>
        <li class="index-tree-3"><a href="#sectionSub5">5　スコールと木々のダンス</a></li>
      </ol>
    </section>
    {% comment %}
    <dl class="novel__nav-controller">
      <div>
        <dt>本文の文字サイズ</dt>
        <dd>
          <button type="button" class="btn btn--small btn--outlined"><span>大</span></button>
          <button type="button" class="btn btn--small btn--outlined current"><span>中</span></button>
          <button type="button" class="btn btn--small btn--outlined"><span>小</span></button>
        </dd>
      </div>
      <div>
        <dt>本文のフォント</dt>
        <dd>
          <button type="button" class="btn btn--small btn--outlined current"><span>明朝体</span></button>
          <button type="button" class="btn btn--small btn--outlined"><span>ゴシック体</span></button>
        </dd>
      </div>
    </dl>
    {% endcomment %}
  </nav>
  <div class="novel__body tree_is_light__body">
  {{ content }}
  </div>
  <div class="novel__footer">
    <hr>
    <p>そのようにして、魔法は失われた。<br>以降の本文は書籍でお楽しみください。</p>
    <a href="/book/trees_light/">『すべての樹木は光』詳細ページへ</a>
    <hr>
    <div id="contact" class="novel__form">
      <form name="clap" class="form" method="POST" action="/contact/thanks" netlify>
        <input name="message" type="text" value="{{ title }}" class="visually-hidden">
        <div>
          <button class="btn btn--small btn--pale" type="submit">WebClap</button>
        </div>
      </form>
    </div>
  </div>
</article>