---
layout: layout.liquid
template: novelPage
---
<link rel="stylesheet" href="/assets/css/novel-disstory.css">
<script src="/assets/js/novel_disstory.js" defer></script>

<div class="novel__background"></div>
<article class="novel font-serif novel__content">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  <div class="novel__body">
  {{ content }}
  </div>
  <div class="novel__footer">
    <hr>
    <p>Happy Birthday, dear <a href="https://libsy.net"  target="_blank" rel="noopenner noreferrer">Yodaka Yamakawa</a><br>
    With respect『<a href="https://libsy.net/disstory"  target="_blank" rel="noopenner noreferrer">これは物語ではない</a>』『<a href="https://libsy.net/dtp"  target="_blank" rel="noopenner noreferrer">Drive to Pluto</a>』</p>
    <a href="/">呼吸書房TOPへ戻る</a>
  </div>
</article>