<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "呼吸書房" }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <h1>{{ title | default: "呼吸書房" }}</h1>
    <main>
      {{ content }}
    </main>
  </body>
</html>