---
layout: layout.liquid
template: novelPage
---
<script src="/assets/js/novel_tree.js" defer></script>
{% include '_includes/snippet-novel-nav' %}
<article class="novel font-serif">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  <blockquote>
    <p>かわいそうに、わたしの影は狂ってしまった。<br>自分こそが人間で、わたしの方が影なのだと、思いこんでいるのですよ。<br>
    ハンス・クリスチャン・アンデルセン『影』</p>
  </blockquote>
  <blockquote>
    <p>思い出すんだ、どうやったら死なずにいられるかを。<br>
    どうやってあかりを灯すかを。<br>
    思い出すんだ。思い出すんだよ、木々の葉のつくる影を。<br>
    あの森はどこまで続いているんだろう？<br>
    心の届くかぎり。<br>
    アーシュラ・K・ル＝グウィン『ゲド戦記』<br>第五巻『ドラゴンフライ』より「カワウソ」</p>
  </blockquote>
  <div class="novel__body tree_is_light__body">
  {{ content }}
  </div>
  <div class="novel__footer">
    <hr>
    <p>以降の本文は書籍でお楽しみください。</p>
    <a href="/book/trees_shade/">『すべての木陰に歌を』詳細ページへ</a>
    <hr>
    <div id="contact" class="novel__form">
      <form name="clap" class="form" method="POST" action="/contact/clap-thanks" netlify>
        <input name="title" type="text" value="{{ title }}" class="visually-hidden">
        <textarea name="message" rows="1" placeholder="ご感想などお気軽にどうぞ:) 空欄でも送れます"></textarea>
        <div>
          <button class="btn btn--small btn--pale" type="submit">Web拍手👏</button>
        </div>
      </form>
    </div>
  </div>
</article>