---
layout: layout.liquid
template: novelPage
---
<script src="/assets/js/novel_tree.js" defer></script>
{% include '_includes/snippet-novel-nav' %}
<article class="novel font-serif">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  <div class="novel__body tree_is_light__body">
  {{ content }}
  </div>
  <div class="novel__footer">
    <hr>
    <a href="/book/bride/">『竜の花嫁』詳細ページへ</a>
    <hr>
    <div id="contact" class="novel__form">
      <form name="clap" class="form" method="POST" action="/contact/thanks" netlify>
        <input name="message" type="text" value="{{ title }}" class="visually-hidden">
        <div>
          <button class="btn btn--small btn--pale" type="submit">WebClap</button>
        </div>
      </form>
    </div>
  </div>
</article>