---
layout: layout.liquid
template: novelPage
---

<article class="novel page-width">
  <header class="novel__header">
    <h1 class="novel__header-title">{{ title }}</h1>
  </header>
  <div class="novel__body">{{ content }}</div>
  <div class="novel__footer">
    <a href="/">TOPへ戻る</a>
  </div>
</article>