{%- if page.fileSlug != blank -%}
{%- for novel in collections.novel -%}
  {%- if novel.data.tags contains 'book-paperplane' -%}
    {% assign novels-paperplane = novels-paperplane | concat: novel %}
  {%- elsif novel.data.tags contains 'book-eien' -%}
    {% assign novels-eien = novels-eien | concat: novel %}
  {%- elsif novel.data.tags contains 'book-dream' -%}
    {% assign novels-dream = novels-dream| concat: novel %}
  {%- elsif novel.data.tags contains 'book-november' -%}
    {% assign novels-november = novels-november| concat: novel %}
  {%- elsif novel.data.tags contains 'improvise' -%}
    {% assign novels-improvise = novels-improvise | concat: novel %}
  {%- endif -%}
{%- endfor -%}
<header class="novel-list__category-header">
  <h3 class="novel-list__title font-serif">長編小説</h3>
</header>
<div class="novel-list__wrapper">
  <section class="novel-list__section is-tree">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">すべての樹木は光：試し読み</h3>
      <p class="novel-list__description">熱帯雨林の樹木変身譚『すべての樹木は光』より、冒頭の約4万字をWeb上で公開しています。<br>本編は書籍の形で完結済みです。およそ3分の一地点、物語のターニングポイントまでをお読みいただけます。</p>
      <br>
      <p class="novel-list__description">2024.11.28 後日談「樹木のバカンス」を公開しました。</p>
      <a href="/book/trees_light" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">イントロダクション</span></h4>
          <span class="novel-list__catchcopy">透明な街、うつくしい街、ちょうど日付が変わる頃のこと。</span>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction#section1" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">第一章　歌う雨の町</span></h4>
          <span class="novel-list__catchcopy">「……この町では鉢植えをベッドに寝かせるの？」</span>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction#section2" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">第二章　あなたは孤独ではない</span></h4>
          <span class="novel-list__catchcopy">雨音に紛れて歓声が聞こえた。腹の底から歌うような喜びの声だった。</span>
        </a>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第三章　言葉のない世界<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">この町に、ゲアの兄のことをはっきりと覚えてる奴は誰もいないんだ。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第四章　楽園の善良な樹木<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">ユハはこの家が好きだった。母の帰りを一人待ち続ける、狭く寂しい首都の家よりも、ずっと。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">樹木たちは語る<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">そのようにして、魔法は失われた。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <a href="/book/trees_light/vacation" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">樹木のバカンス<small class="op_7">（30年後の後日談）</small></span></h4>
          <span class="novel-list__catchcopy">ベンチに樹木が座っている。もちろんそんなはずはない。</span>
        </a>
      </article>
    </div>
  </section>
  {% comment %}
  <section class="novel-list__section is-tree">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">竜の花嫁：試し読み</h3>
      <p class="novel-list__description">熱帯雨林の樹木変身譚『すべての樹木は光』より、冒頭の約4万字をWeb上で公開しています。<br>本編は書籍の形で完結済みです。およそ3分の一地点、物語のターニングポイントまでをお読みいただけます。</p>
      <a href="/book/bride" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">イントロダクション</span></h4>
          <span class="novel-list__catchcopy">透明な街、うつくしい街、ちょうど日付が変わる頃のこと。</span>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction#section1" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">第一章　嫁入りの日</span></h4>
          <span class="novel-list__catchcopy">「……この町では鉢植えをベッドに寝かせるの？」</span>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/book/trees_light/introduction#section2" class="unstyle novel-list__item-link">
          <h4 class="novel-list__item-title"><span class="font-serif">第二章　金の瞳、遠雷の声</span></h4>
          <span class="novel-list__catchcopy">雨音に紛れて歓声が聞こえた。腹の底から歌うような喜びの声だった。</span>
        </a>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第三章　雨と眠りに安らぐもの<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">この町に、ゲアの兄のことをはっきりと覚えてる奴は誰もいないんだ。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第四章　かつて殺されたすべての私たちへ<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">ユハはこの家が好きだった。母の帰りを一人待ち続ける、狭く寂しい首都の家よりも、ずっと。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第五章　野火迫る<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">ユハはこの家が好きだった。母の帰りを一人待ち続ける、狭く寂しい首都の家よりも、ずっと。</span>
        </div>
      </article>
      <article class="novel-list__item">
        <div class="novel-list__item-unlink">
          <h4 class="novel-list__item-title"><span class="font-serif">第六章　竜の花嫁<small class="op_7">（書籍収録）</small></span></h4>
          <span class="novel-list__catchcopy">ユハはこの家が好きだった。母の帰りを一人待ち続ける、狭く寂しい首都の家よりも、ずっと。</span>
        </div>
      </article>
    </div>
  </section>
  {% endcomment %}
</div>
<hr>
<header class="novel-list__category-header">
  <h3 class="novel-list__title font-serif">掌編・短編小説（一話完結）</h3>
</header>
<div class="novel-list__wrapper">
  <section class="novel-list__section is-november">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">十一月の春の庭</h3>
      <p class="novel-list__description">「<a href="https://twitter.com/nike_nkx/status/1575362728063307781" target="_blank" rel="noopenner noreferrer">#novelmber</a>」ハッシュタグに投稿した掌編の再録短編集。二つのお題を組みあわせ、その偶然性を楽しみながら書き綴った掌編18本を掲載しています。文体も掌編ごとに様々です。</p>
      <a href="/book/november" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      {% for novel in novels-november %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
  <section class="novel-list__section is-dream">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">彼らは唯の夢</h3>
      <p class="novel-list__description">夢日記に基づく幻想掌編集。収録作品6編のうち3編を公開しています。いずれも厳密には夢そのものではなく、物語としては筋書きが曖昧で、詩と呼ぶには長すぎる。最も近い言葉は「風景」なのだろうと思います。</p>
      <a href="/book/dream" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      {% for novel in novels-dream %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
  <section class="novel-list__section" id="novelImprovise">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">即興小説</h3>
      <p class="novel-list__description">「即興小説トレーニング（2023年サービス終了）」に投稿した作品の一部を改稿したものです。<br>ランダムな“お題”を元に15分で執筆する、想像の跳躍をお楽しみください。</p>
    </header>
    <div class="list novel-list">
      {% for novel in novels-improvise %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
  <section class="novel-list__section is-eien" id="novelEien">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">永遠の不在をめぐる</h3>
      <p class="novel-list__description">「不在」をテーマにした、ふたつめの幻想短編集。収録作品7編のうち4編を公開しています。何かを失い、あるいは投げ捨て、もしくは奪われた人々の、永遠に埋まらない空席を眺めつづけるような物語。</p>
      <a href="/book/eien" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      {% for novel in novels-eien %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
  <section class="novel-list__section is-paperplane" id="novelPaperplane">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">紙飛行機に眠る月</h3>
      <p class="novel-list__description">呼吸書房の原点、2012年に刊行した短編集です。収録作品9編のうち4編を公開しています。作品ジャンルはSF、寓話童話、ファンタジー、現代ものと様々で、各編ごとに文体も異なります。</p>
      <a href="/book/paperplane" class="btn btn--small btn--pale"><span>書籍紹介へ</span></a>
    </header>
    <div class="list novel-list">
      {% for novel in novels-paperplane %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
  <section class="novel-list__section" id="novelRequest">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">寄稿・企画など</h3>
      <p class="novel-list__description">ご依頼を元に執筆した短編、企画作品です。<br>外部サイト掲載作品は別タブでリンクが開きます。</p>
    </header>
    <div class="list novel-list">
      <article class="novel-list__item">
        <a href="https://note.com/miraizmag/n/n0602dbda4875" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">Rihlaの頁が尽きるまで</span></h4>
          <span class="novel-list__catchcopy">サハラ砂漠の片隅に、本まみれの変な安宿があるらしい。</span>
          <ul class="novel-category">
            <li>SF</li>
            <li>幻想</li>
            <li>依頼テーマ「未来の紀行文」</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/novel/plum" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">幽霊を贈る</span></h4>
          <span class="novel-list__catchcopy">昨日伐採した梅の木が、変わらず庭に立っている。</span>
          <ul class="novel-category">
            <li>幻想</li>
            <li>依頼テーマ「花芽」</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://libsy.net/komachi2023/un-bon-souvenir" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">un bon souvenir</span></h4>
          <span class="novel-list__catchcopy">ほんとうはヨーロッパに行ってみたかったんだ。</span>
          <ul class="novel-category">
            <li>ジャズ</li>
            <li>DLE二次創作</li>
            <li>お誕生日祝い</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://atsea.day/blogs/journal/novel_01" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">やさしい汽笛の鳴り響く</span></h4>
          <span class="novel-list__catchcopy">昔からくりかえし見る夢がある。静まり返った大海原を、ひとりきりで歩く夢。</span>
          <ul class="novel-category">
            <li>夢</li>
            <li>幻想</li>
            <li>写真寄稿</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://atsea.day/blogs/journal/novel_02" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">光のウエハース</span></h4>
          <span class="novel-list__catchcopy">土産物屋の軒先で、美しい黒のポストカードと目が合った。</span>
          <ul class="novel-category">
            <li>白昼夢</li>
            <li>幻想</li>
            <li>写真寄稿</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/novel/nocturne" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">ノクターン</span></h4>
          <span class="novel-list__catchcopy">旅先へギターを連れてゆくのが好きだ。それも一人旅のときに。</span>
          <ul class="novel-category">
            <li>依頼テーマ「何らかの弦楽器を弾いてる小説」</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="/novel/for-cipher/" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">Gymnopedie</span></h4>
          <span class="novel-list__catchcopy">ピアノバーで交わされる人間たちの会話を猫はもう聞いていない。</span>
          <ul class="novel-category">
            <li>猫</li>
            <li>『Cipher』二次創作</li>
            <li>お誕生日祝い</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://atsea.day/blogs/journal/novel_03" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">人間には見えない灯り</span></h4>
          <span class="novel-list__catchcopy">おいで、さあおいで、冬の祝いだ。</span>
          <ul class="novel-category">
            <li>樹木</li>
            <li>幻想</li>
            <li>写真寄稿</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://atsea.day/blogs/journal/novel_04" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">またたくヴェールの海で</span></h4>
          <span class="novel-list__catchcopy">うつくしい珊瑚海を照らしていた月に、ひとつの椰子の実が物語をせがみました。</span>
          <ul class="novel-category">
            <li>童話</li>
            <li>幻想</li>
            <li>写真寄稿</li>
          </ul>
        </a>
      </article>
      <article class="novel-list__item">
        <a href="https://atsea.day/blogs/journal/novel_05" target="_blank" rel="noopenner noreferrer" class="unstyle novel-list__item-link" >
          <h4 class="novel-list__item-title"><span class="font-serif">波とランプシェード</span></h4>
          <span class="novel-list__catchcopy">身支度を整え、上着を羽織り、さて雨戸を開けようと外に出ると、軒先に女が佇んでいた。</span>
          <ul class="novel-category">
            <li>怪奇</li>
            <li>幻想</li>
            <li>写真寄稿</li>
          </ul>
        </a>
      </article>
    </div>
  </section>

</div>

{%- else -%}
{%- for novel in collections.novel -%}
  {%- if novel.data.tags contains 'recommend' -%}
    {% assign novels-recommend = novels-recommend | concat: novel %}
  {%- endif -%}
{%- endfor -%}
{% assign novels-recommend = novels-recommend | reverse %}
<div class="novel-list__wrapper">
  <section class="novel-list__section">
    <header class="novel-list__header">
      <h3 class="novel-list__title font-serif">Recommend pickup</h3>
      <p class="novel-list__description">当サイトで公開している小説の中から、おすすめの作品をトップページにピックアップしました。ときどき入れ替わります:) <br>もっと読みたい方は、ぜひ<a href="/novel">小説一覧ページ</a>へ。当サイトのすべての小説を一覧にしてあります。</p>
      <a href="/novel" class="btn btn--small btn--pale"><span>小説一覧ページへ</span></a>
    </header>
    <div class="list novel-list">
      {% for novel in novels-recommend %}
        {%- include '_includes/snipet-novel-item' -%}
      {% endfor %}
    </div>
  </section>
</div>
{%- endif -%}