<div class="random-novel__inner page-width">
  {%- for novel in collections.novel -%}
    {%- if novel.data.description != blank and novel.data.title != 'web-novel' -%}
    <div class="random-novel__item hidden" data-index="{{ forloop.index }}">
      <p>{{ novel.data.description }}</p>
      <div class="random-novel__footer">
        <a href="/{{ novel.data.permalink }}">続きを読む</a>
      </div>
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>