@charset "utf-8";

@import "core/reset";
@import "core/utility";


body {
  .header {
    display: none;
  }
  .main {
    max-width: 100vw;
    min-height: calc(100svh);
    padding-inline: 4rem !important;
    writing-mode: vertical-rl;
    overflow: scroll;
  }
}

.novel {
  max-height: 38em;
  max-width: 100%;
  margin: auto;
  padding-block: 4em;
}

