@charset "utf-8";

@import "core/reset";
@import "core/utility";

/* Variables */
:root {
	--bgColor: #fefbf9;
	--bgColorRgb: 254, 251, 249;
	--textColor: #181614;
	--textColorRgb: 24, 22, 20;
	--keyColor: #37807a;
	--keyColorRgb: 55, 128, 122;
	--keyColorDark: #29605c;
	--keyColorDarkRgb: 41, 96, 92;
	--subColor: #48423b;
	--subColorRgb: 72, 66, 59;
	--linkColor: #48423b;
	--linkColorRgb: 72, 66, 59;
}

[data-color-mode="dark"] {
	--textColor: #fefbf9;
	--textColorRgb: 254, 251, 249;
	--bgColor: #333939; //#3c3732;
	--bgColorRgb: 51, 57, 57; //24, 22, 20;
	--keyColor: #37807a;
	--keyColorRgb: 55, 128, 122;
	--keyColorDark: #4cb2a9;
	--keyColorDarkRgb: 76, 178, 169;
	--subColor: #48423b;
	--subColorRgb: 72, 66, 59;
	--linkColor: #fefbf9;
	--linkColorRgb: 254, 251, 249;

	body .header {
		.mobile__nav-btn span {
			color: var(--keyColorDark);
			&.btn__line {
				background-color: rgba(var(--keyColorDarkRgb), 1);
			}
		}
		.header__shift-btn--sun {
			opacity: 0.3;
		}
		.header__shift-btn--moon {
			opacity: 1;
		}
		@media (max-width: $sp-width) {
			.header__nav .menu-item--parent {
				color: var(--keyColorDark);
			}	
		}
	}
	.main {
		.heading--color {
			color: var(--keyColorDark);
		}
		.page__section-heading {
			color: var(--keyColorDark);
		}
		.home__section-heading {
			color: var(--keyColorDark);
		}
		.btn {
			&--color {
				background-color: rgba($color: var(--keyColorRgb), $alpha: 0.7);
				&:hover {
					background-color: rgba($color: var(--keyColorRgb), $alpha: 1);
					opacity: 1;
				}
			}
			&--pale {
				background-color: rgba($color: var(--keyColorRgb), $alpha: 0.5);
				&:hover {
					background-color: rgba($color: var(--keyColorRgb), $alpha: 0.7);
				}
			}
			&--outlined {
				border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.7);
			}
		}
		.home__news {
			border: 1px solid rgba(var(--keyColorRgb), 0.5);
		}
		.pagination__inner {
			color: var(--keyColorDark);
			border: 1px solid rgba(var(--keyColorRgb), 0.7);
		}
		.blog-article__pager-item:not(:empty) {
			border: 1px solid rgba(var(--keyColorRgb), 0.5);
		}
		.blog-article__pager-item dt {
			color: var(--keyColorDark);
		}
		.blog-article__pager-item:not(:empty)::after {
			color: var(--keyColor);
		}
		@media (min-width: $pc-width) {
			.novel-list__section {
				border: 1px solid rgba(var(--keyColorRgb), 0.5);
			}
			.novel-list__header + .list {
				border-right: 1px solid rgba(var(--keyColorRgb), 0.5);
			}
			.blog-article {
				border: 1px solid rgba(var(--keyColorRgb), 0.5);
			}
			.blog-article__header.bg__secondary {
				background-color: rgba(var(--keyColorRgb), 0.5);
			}
		}
		@media (max-width: $sp-width) {
			.novel-list__section {
				border-top: 1px solid rgba(var(--keyColorRgb), 0.5);
			}
			.blog-article__header {
				border-top: 5px solid rgba(var(--keyColorRgb), 0.5);
				border-bottom: 5px solid rgba(var(--keyColorRgb), 0.5);	
			}
		}
	}
		
}

/* base CSS */
html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--bgColor); //fcf8f3; //fcf8f3
  color: var(--textColor);
	font-family: Cochin, "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
	letter-spacing: 0.02em;
  -webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@media (max-width: $sp-width) {
		font-size: min((100vw - 3rem) / 24, 1.6rem);
		letter-spacing: 0;
	}
}

body.fixed {
  position: fixed;
}

p:not(:last-child), blockquote:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: var(--linkColor);
	text-decoration: none;
	border-bottom: 1px solid rgba($color: var(--linkColorRgb), $alpha: 0.5);
	transition: all 0.4s ease;
	&.link--unstyle {
		border-bottom: none;
		&:hover {
			background-color: inherit;
		}
	}
	&.unstyle {
		color: inherit;
		border-bottom: none;
		&:hover {
			background-color: inherit;
		}
	}
	&:hover {
		background-color: rgba($color: var(--keyColorRgb), $alpha: 0.2);
	}
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
	position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  clip: rect(0 0 0 0);
	word-wrap: normal !important;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.font-serif {
	font-family: Cochin, "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", serif;
}
.font-serif-jp {
	font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
}
.font-sansserif-jp {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.heading {
	&--primary {
		font-size: 1.8rem;
		margin-bottom: 0.5rem;
	}
	&--secondary {
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
		font-weight: normal;
	}
	&--color {
		color: var(--keyColor);
	}
	&--colorDark {
		color: var(--keyColorDark);
	}
	&--default {
		font-size: 1.4rem;
		font-weight: normal;
		line-height: 1.8;
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 0.5rem;
	transition: all 0.4s ease;
	&--small {
		padding: 0 1.5em;
		height: 4rem;
	}
	&--medium {
		padding: 0 1.5em;
		min-width: 24rem;
		height: 4rem;
	}
	&--color {
		background-color: rgba($color: var(--keyColorRgb), $alpha: 0.7);
		color: #ffffff;
		&:hover {
			background-color: rgba($color: var(--keyColorRgb), $alpha: 0.7);
			opacity: 0.7;
		}
	}
	&--pale {
		background-color: rgba($color: var(--keyColorRgb), $alpha: 0.1);
		&:hover {
			opacity: 1;
			background-color: rgba($color: var(--keyColorRgb), $alpha: 0.7);
			color: #ffffff;
		}
	}
	&--outlined {
		border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
		background-color: transparent;
	}
}

[aria-hidden="true"] {
  display: none;
}
[aria-hidden="false"] {
  display: block;
}
hr {
	margin: 2em 0;
	opacity: 0.1;
}
blockquote {
	border-left: 0.4rem solid #cccccc;
	padding-left: 0.8em;
	font-size: 1.05em;
	opacity: 0.8;
	@media (max-width: $sp-width) {
		font-size: 1em;
	}
}
.list {
	&__style--dot {
		margin-top: 0.5rem;
		margin-bottom: 1.5em;
		li {
			&::before {
				content: "・";
			}
		}
	}
	&__sns {
		@include flex(wrap);
		max-width: 60rem;
		li {
			margin-bottom: 0.5rem;
			&:not(:last-child)::after {
				content: "/";
				opacity: 0.3;
				padding: 0 0.3em;
			}
		}
	}
	&__flex {
		@include flex;
		flex-wrap: wrap;
		row-gap: 1rem;
		li {
			margin-right: 1em;
		}
	}
	&__dl {
		dt {
			&:not(:first-child) {
				margin-top: 2.5rem;
			}
		}
		.btn {
			margin: 0.8rem 0;
		}
	}
	&__faq {
		dt, dd {
			padding-left: 2rem;
			position: relative;
			&::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				color: var(--keyColor);
				width: 1em;
				height: 1em;
			}
		}
		dt:not(:first-child) {
			margin-top: 2rem;
		}
		dt::before {
			content: "Q";
		}
		dd::before {
			content: "A";
		}
	}
}
.bg {
	&__primary {
		background-color: rgba($color: var(--subColorRgb), $alpha: 0.1);
	}
	&__secondary {
		background-color: rgba($color: var(--keyColorRgb), $alpha: 0.05);
	}
}

// Component
.page-width {
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 4rem;
	@media (max-width: $sp-width) {
		//padding: 0 4.266vw;
		padding: 0 1.5em;
	}
}
.flex {
	@include flex;
}
.op_7 {
	opacity: 0.7;
}

// Common
body {
	&:not(.homePage) {
		.main {
			padding-top: 12rem;
			@media (max-width: $sp-width) {
				padding-top: 5rem;
			}
		}
	}
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 6.5rem;
	@include flex;
	align-items: center;
	.homePage & {
		box-shadow: 0 0 2rem rgba($color: #48423b, $alpha: 0.15);
		background-color: rgba($color: var(--bgColorRgb), $alpha: 0.75);
		transition: background-color 0.4s ease-in-out;
		&:hover {
			background-color: var(--bgColor);
		}
		@media (max-width: $sp-width) {
			background-color: rgba($color: var(--bgColorRgb), $alpha: 0.85);
		}
	}
	@media (max-width: $sp-width) {
		height: 5rem;
	}
	.logo__image {
		width: 12rem;
		height: auto;
		@media (max-width: $sp-width) {
			width: 8rem;
		}
	}
	&__inner {
		width: 100%;
		height: 100%;
		@include flex;
		align-items: center;
		position: relative;
		@media (max-width: $sp-width) {
			//justify-content: flex-end;
		}
	}
	&__shift-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		position: absolute;
		top: 1.2rem;
		right: 1.2rem;
		border: none;
		background: transparent;
		box-shadow: none;
		padding: 1rem;
		z-index: 31;
		&::before {
			@media (min-width: $pc-width) {
				content: "";
				position: absolute;
				bottom: -8px;
				right: 50%;
				transform: translateX(-50%);
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
				background-color: var(--keyColor);
				height: calc(tan(60deg) * 10px / 2);
				width: 10px;
				clip-path: polygon(50% 0, 100% 100%, 0 100%);
			}
			@media (max-width: $sp-width) {
				display: none;
			}
		}
		&::after {
			display: block;
			content: "背景色を変更する";
			white-space: nowrap;
			font-size: 1rem;
			line-height: 1;
			@media (min-width: $pc-width) {
				color: #ffffff;
				position: absolute;
				bottom: -3rem;
				right: 0;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
				background-color: var(--keyColor);
				padding: 7px 5px;
				box-shadow: 0 0 2rem rgba($color: #48423b, $alpha: 0.15);
			}
		}
		&:hover {
			&::after, &::before {
				opacity: 1;
			}
		}
		@media (max-width: $sp-width) {
			right: initial;
			left: 1.8rem;
			top: 0.8rem;
			gap: 0.7rem;
			svg {
				width: 1.6rem;
				height: 1.6rem;
			}
		}
		&--sun {
			opacity: 0.8;
		}
		&--moon {
			opacity: 0.2;
		}
	}
	.mobile__nav-btn {
		display: none;
		@media (max-width: $sp-width) {
			display: block;
			position: absolute;
			top: 0.5rem;
			right: 1.2rem;
			border: none;
			background: transparent;
			box-shadow: none;
			padding: 1rem;
			z-index: 31;
			span {
				font-size: 1rem;
				line-height: 1;
				display: block;
				color: var(--keyColor);
				transition: transform 0.4s ease;
				&.btn__line {
					height: 1px;
					background-color: rgba($color: var(--keyColorRgb), $alpha: 0.5);
					margin-bottom: 0.3rem;
					&:nth-child(2) {
						width: 1.8rem;
					}
				}
			}
			&.open {
				position: fixed;
				.btn__line {
					width: 2rem;
					&:nth-child(1) {
						transform: rotate(45deg);
						transform-origin: left;
					}
					&:nth-child(2) {
						display: none;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
						transform-origin: 12px 6px;
					}
				}
				.btn__text {
					display: none;
				}
			}
		}
	}
	&__nav {
		margin-left: 2.5rem;
		height: 100%;
		@media (max-width: $sp-width) {
			position: fixed;
			margin: 0;
			width: calc(100vw - 12rem);
			height: 100%;
			overflow: scroll;
			background-color: rgba($color: var(--bgColorRgb), $alpha: 0.95);
			z-index: 30;
			top: 0;
			right: -100vw;
			transition: all 0.5s ease-in-out;
			.open + & {
				right: 0;
				box-shadow: 0 0 2rem rgba($color: #48423b, $alpha: 0.15);
			}
		}	
		&-list {
			@include flex(wrap);
			font-size: 1.6rem;
			height: 100%;
			@media (max-width: $sp-width) {
				display: block;
				padding-top: 5rem;
				margin-bottom: 10rem;
			}
			& > li {
				position: relative;
			}
			.hasmenu {
				@media (max-width: $sp-width) {
					margin-bottom: 1rem;
					&::after {
						display: block;
						content: "";
						width: calc(100% - 6rem);
						height: 1px;
						background-color: rgba($color: var(--textColorRgb), $alpha: 0.1);
						position: absolute;
						left: 3rem;
						bottom: 0;
					}
				}
				&:hover {
					@media (min-width: $pc-width) {
						.header__nav-sublist {
							height: calc(40px * 4);
							border: 1px solid rgba($color: #48423b, $alpha: 0.2);
							border-top: none;
							z-index: 2;
						}
						.header__nav-booklist {
							height: calc(35px * 11);
						}
					}
				}
			}
		}
		&-sublist {
			font-size: 0.9em;
			@media (min-width: $pc-width) {
				position: absolute;
				width: auto;
				min-width: 100%;
				height: 0px;
				overflow: hidden;
				background-color: var(--bgColor);
				transition: height 0.4s ease;	
			}
			@media (max-width: $sp-width) {
				padding-bottom: 1rem;
				opacity: 0.8;
			}
			a {
				display: block;
				white-space: nowrap;
				width: 100%;
				height: 40px;
				border-bottom: none;
				padding: 0.7rem 1.5rem;
				@media (max-width: $sp-width) {
					display: block;
					height: auto;
					padding: 0.5rem calc(3rem + 1em);
					margin-top: -0.5rem;
				}
			}
			&.header__nav-booklist {
				a {
					height: 35px;
					font-size: 0.8em;
					@media (max-width: $sp-width) {
						height: auto;
						padding-top: 0.8rem;
						padding-bottom: 0.8rem;
					}
				}
			}
		}
		.menu-item--parent {
			@include flexCentering;
			height: 100%;
			border-bottom: none;
			padding: 0 15px;
			cursor: pointer;
			transition: all 0.4s ease;
			&:hover {
				background-color: rgba($color: var(--keyColorRgb), $alpha: 0.2);
			}
			@media (max-width: $sp-width) {
				color: var(--keyColor);
				display: block;
				padding: 0.8rem 3rem;
			}
		}
		span {
			font-size: 0.7em;
			padding-top: 2px;
			padding-left: 5px;
			line-height: 1;
			color: rgba($color: var(--textColorRgb), $alpha: 0.7);
		}
	}
}
.main {
	min-height: calc(100dvh -  20rem);
}
.footer {
	padding: 4rem 0;
	@media (max-width: $sp-width) {
		padding: 4rem 0 1.5rem;
	}
	.flex {
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: $sp-width) {
			display: block;
		}
	}
	.logo__image {
		margin-left: auto;
		margin-bottom: 1.2rem;
		@media (max-width: $sp-width) {
			width: 12rem;
			height: auto;
			margin-bottom: 0.8rem;
		}
	}
	&__nav-list {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
		//gap: 0.6rem 1.8rem;
		gap: 0.6rem 0;
		font-size: 1.2rem;
		@media (max-width: $sp-width) {
			display: block;
			margin-bottom: 2rem;
			font-size: inherit;
			font-size: 0.9em;
			li {
				margin-bottom: 0.8rem;
			}
		}
	}
	&__info {
		text-align: right;
		line-height: 1.3;
		a {
			display: inline-block;
		}
		small {
			display: block;
		}
	}
}
.book-tab__wrapper {
	position: relative;
	&::after {
		display: block;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 3rem;
		height: 100%;
		background: transparent linear-gradient(90deg, rgba(var(--bgColorRgb), 0) 0%, rgba(var(--bgColorRgb), 0.5) 50%, rgba(var(--bgColorRgb), 1) 100%) 0% 0% no-repeat padding-box;
	}
}
.book-tab {
	@include flex;
	align-items: flex-end;
	column-gap: 1.5rem;
	overflow-x: scroll;
	margin-bottom: 2rem;
	&__item {
		flex: none;
		margin-bottom: 1rem;
		button {
			border: 2px solid transparent;
			background: transparent;
			&[aria-selected="true"] {
				border: 2px solid var(--keyColor);	
			}
		}
		img {
			display: block;
			&.book-image--big {
				width: 20rem;
			}
			&.book-image--normal {
				width: 17.5rem;
			}
			&.book-image--small {
				width: 15rem;
			}
		}
		&:last-child {
			padding-right: 3rem;
		}
	}
}
.book-info {
	&__page-wrapper {
		margin-top: 4rem;
		column-gap: 5%;
		position: relative;
		align-items: flex-start;
		@media (max-width: $sp-width) {
			flex-direction: column;
			row-gap: 40px;
		}
		.book-info__image {
			width: 35%;
			position: sticky;
			top: 40px;
			&--placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				background-color: #48423b33;
				aspect-ratio: 1/1.41;
			}
			@media (max-width: $sp-width) {
				position: initial;
				top: initial;
				width: 100%;
			}	
		}
		.book-info__content {
			width: 60%;
			@media (max-width: $sp-width) {
				width: 100%;
			}	
		}
	}
	&__header {
		@include flex;
		align-items: center;
		margin-bottom: 0.5rem;
	}
	&__title {
		margin-right: 0.5em;
	}
	&__detail {
		@media (max-width: $sp-width) {
			max-width: inherit;
		}
	}
	&__copy {
		font-size: 1.4em;
		margin-bottom: 2rem;
		opacity: 0.4;
		font-weight: bold;
	}
}
.novel-list {
	&__category-header {
		margin-bottom: 1rem;
		p {
			font-size: 0.9em;
			line-height: 1.5;
		}
	}
	&__item {
		position: relative;
		&:not(:first-child) {
			border-top: 1px solid rgba($color: var(--subColorRgb), $alpha: 0.1);
		}
		@media (max-width: $sp-width) {
			&:first-child {
				border-top: 1px solid rgba($color: var(--subColorRgb), $alpha: 0.1);
			}
		}	
		&-link {
			display: block;
			padding: 1rem;
			transition: 0.3s ease-in-out;
			@media (max-width: $sp-width) {
				padding: 1rem 0.5rem;
			}
			&:hover {
				background-color: rgba($color: var(--keyColorRgb), $alpha: 0.1) !important;	
			}
		}
		&-unlink {
			padding: 1rem;
			.novel-list__item-title {
				color: inherit;
				span {
					@media (max-width: $sp-width) {
						border-bottom: none;
					}	
				}
			}
		}
		&-title {
			font-weight: normal;
			font-size: 1.1em;
			margin-bottom: 0;
			color: var(--keyColorDark);
			span {
				line-height: 1;
				position: relative;
				@media (max-width: $sp-width) {
					&::after {
						position: absolute;
						width: 100%;
						height: 1px;
						content: "";
						display: block;
						background-color: rgba($color: var(--keyColorDarkRgb), $alpha: 0.3);
						left: 0;
						bottom: 1px;	
					}
				}	
			}
		}
	}
	&__section {
		width: 100%;
		border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
		padding: 1rem 2rem;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		@media (max-width: $sp-width) {
			width: 100%;
			flex-direction: column;
			border-left: none;
			border-right: none;
			border-bottom: none;
			padding: 1rem 0 2rem 0;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		.novel-list__description {
			margin-bottom: 0;
			font-size: 0.9em;
			opacity: 0.6;
			line-height: 1.5;
			@media (max-width: $sp-width) {
				margin-bottom: 1rem;
			}	
		}
		&::before {
			width: 20rem;
			height: 1rem;
			position: absolute;
			top: 0;
			right: 0;
			background-color: var(--keyColor);
			display: block;
			content: "";
		}
		&.is-paperplane {
			&::before {
				background: url("/assets/img/hyoushi-airplane.jpg") no-repeat top center;
				background-size: cover;
			}
		}
		&.is-eien {
			&::before {
				background: url("/assets/img/hyoushi-eien.jpg") no-repeat bottom 13% center;
				background-size: cover;
			}
		}
		&.is-dream {
			&::before {
				background: url("/assets/img/mv_dream_sp.jpg") no-repeat top 23% center;
				background-size: cover;
			}
		}
		&.is-november {
			&::before {
				background: url("/assets/img/mv_november_pc.jpg") no-repeat top 25% right;
				background-size: 200%;
			}
		}
		&.is-tree {
			&::before {
				background: url("/assets/img/hyoushi-tree.jpg") no-repeat center center;
				background-size: cover;
			}
		}
	}
	&__header {
		width: 30%;
		min-width: 30rem;
		flex: none;
		@media (max-width: $sp-width) {
			width: 100%;
			min-width: inherit;
			padding: 1rem 0;
		}
		& + .list {
			flex-grow: 1;
			margin-right: 2rem;
			padding-right: 2rem;
			border-right: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.2);	
			@media (max-width: $sp-width) {
				width: 100%;
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}	
		}
		.btn {
			font-size: 0.8em;
			position: absolute;
			top: 2rem;
			right: 1rem;
			@media (max-width: $sp-width) {
				top: inherit;
				right: inherit;
				position: relative;
				width: 100%;
				height: 3rem;
				margin-bottom: 1rem;
			}	
			&:not(:hover) {
				span {
					opacity: 0.7;
				}	
			}
		}
	}
	&__title {
		font-size: 1.1em;
		opacity: 0.8;
		margin-bottom: 0.3rem;
		font-weight: normal;
	}
	&__catchcopy {
		display: block;
		font-size: 0.9em;
		opacity: 0.8;
		margin-bottom: 0;
		line-height: 1.5;
	}
	.novel-category {
		font-size: 0.8em;
		opacity: 0.4;
		margin-bottom: 0;
		line-height: 1.5;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		@include flex;
		flex-wrap: wrap;
		max-width: 50%;
		@media (max-width: $sp-width) {
			max-width: inherit;
			position: relative;
			top: inherit;
			right: inherit;
			justify-content: flex-end;
		}
		li {
			&:not(:last-child)::after {
				content: "/";
				opacity: 0.8;
				padding: 0 0.3em;
			}
		}
	}
}
.form {
	max-width: 60rem;
	&__label {
		display: block;
		margin-bottom: 1.5rem;
		&-inline {
			display: inline-flex;
			align-items: center;
			column-gap: 1rem;
			margin-bottom: 1.5rem;
		}
		&-txt {
			font-size: 1.3rem;
			display: block;
		}
	}
	.btn {
		margin-bottom: 1.5rem;
	}
	input:not([type="checkbox"]), select, textarea {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		border: 1px solid var(--keyColorDark);
		@media (max-width: $sp-width) {
			font-size: 1.6rem;
		}
	}
	input:not([type="checkbox"]), select {
		min-height: 3rem;
		padding: 0.5rem 1rem;
	}
	input[type="checkbox"] {
		background-color: transparent;
		box-shadow: none;
		border: 1px solid var(--keyColorDark);
	}
	textarea {
		height: 10em;
		padding: 1rem;
		display: block;
	}
}


// TOP
.home {
	&__announce {
		font-size: 0.7em;
		@media (max-width: $sp-width) {
			font-size: 0.8em;
		}
	}
	&__firstview {
		width: 100%;
		height: auto;
		position: relative;
		padding-top: 15dvh;
		@include flex;
		flex-direction: column;
		justify-content: flex-end;
		@media (max-width: $sp-width) {
			padding-top: 8rem;
		}
	}
	&__firstview-txt {
		width: 100%;
		position: relative;
		background-color: var(--bgColor);
		padding: 4rem 0;
		z-index: 10;
		.page-width {
			position: relative;
		}
		@media (max-width: $sp-width) {
			padding: 4rem 0;
		}
		.home__header {
			position: absolute;
			right: 4rem;
	    bottom: -0.2rem;
			@media (max-width: $sp-width) {
				bottom: -10rem;
				right: 1.5em;
			}
		}
		.logo__image {
			margin-bottom: 0.8rem;
			margin-left: auto;
			@media (max-width: $sp-width) {
				width: 12rem;
				margin-bottom: 0.5rem;
				height: auto;
			}
		}
	}
	&__firstview-bg {
		//position: relative;
		//画像中央クリッピング
	}
	&__firstview-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
    height: 100%;
		overflow: hidden;
		@include flex;
		img {
			width: inherit;
			height: inherit;
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			object-position: center top;
			display: block;
		}
		figcaption {
			position: absolute;
			bottom: 2rem;
			//left: 2rem;
			right: max(4rem, calc((100% - 128rem + 8rem) / 2));
			color: #fefbf9; //ここの色情報はダークモードでも固定
			z-index: 11;
			opacity: 0.7;
			font-size: 1.2rem;
			text-shadow: 0 0 0.15em #00000011, 0 0 0.5em #00000066;
			@media (max-width: $sp-width) {
				left: initial;
				right: 2rem;
			}
			a {
				color: #fefbf9; //ここの色情報はダークモードでも固定
				border-color: #fefbf9; //ここの色情報はダークモードでも固定
			}
		}
		&::before {
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0.5;
			top: 0;
			left: 0;
			content: "";
			z-index: 5;
		}
		&.for-tree::before {
			opacity: 0.7;
			background: transparent linear-gradient(180deg, #00000033 0%, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
		}
		&.for-vacation::before {
			opacity: 0.8;
			background: transparent linear-gradient(180deg, #00000033 0%, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
			@media (max-width: $sp-width) {
				opacity: 1;
			}
		}
		&.for-dream {
			&::before {
				opacity: 0.5;
				background: transparent linear-gradient(180deg, #48423b33 0%, #48423b00 0%, #48423b 100%) 0% 0% no-repeat padding-box;
			}
			img {
				object-position: center;
				@media (max-width: $sp-width) {
				object-position: center bottom;
				}
			}
		}
		&.for-novelmber {
			&::before {
				opacity: 0.5;
				background: transparent linear-gradient(180deg, #48423b33 0%, #48423b00 0%, #48423b 100%) 0% 0% no-repeat padding-box;
			}
			@media (max-width: $sp-width) {
				img {
					object-position: center bottom;
				}
			}
		}
		&__txt {
			position: relative;
			//margin: 4rem 4rem 0 auto;
			//margin-right: max(4rem, calc((100% - 128rem + 8rem) / 2));
			//margin-left: max(4rem, calc((100% - 128rem + 8rem) / 2));
			//padding-bottom: 4rem;
			//max-width: 42rem;
			padding: 4rem 4rem 4rem 8rem;
			color: #fefbf9; //ここの色情報はダークモードでも固定
			z-index: 10;
			font-size: 1.5rem;
			text-shadow: 0 0 0.15em #00000011, 0 0 0.5em #00000066;
			@media (max-width: $sp-width) {
				padding: 0;
				padding-bottom: calc(4rem + 1.5em);
				//width: calc(100vw - (4.266vw * 2));
				width: calc(100vw - (1.5em * 2));
			}
			p {
				max-width: 50rem;
			}
			.home__firstview-morelink {
				text-align: right;
				padding-bottom: 0.5rem;
				@media (max-width: $sp-width) {
					text-align: left;
				}
			}
			a {
				color: #fefbf9; //ここの色情報はダークモードでも固定
				font-size: 1.8rem;
				border-color: #fefbf9; //ここの色情報はダークモードでも固定
				span {
					font-size: 1.2rem;
				}
			}
		}
	}
	&__nav {
		@include flex;
		align-items: center;
		margin: 2rem 0 0.5rem;
		padding-right: 19rem;
		@media (max-width: $sp-width) {
			padding-right: 0;
		}
		&-list {
			@include flex(wrap);
			font-size: 1.7rem;
			@media (max-width: $sp-width) {
				font-size: 1.6rem;
			}	
			li {
				&:not(:last-child)::after {
					content: "/";
					opacity: 0.3;
					padding: 0 0.3em;
				}
			}
		}
	}
	&__news {
		display: inline-block;
		padding: 2rem;
		border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
		font-size: 1.3rem;
		@media (max-width: $sp-width) {
			padding: 1rem 1.5rem;
		}
		& + .home__news {
			margin-top: 2rem;
		}
		.heading::after {
			content: "｜";
			opacity: 0.3;
			padding: 0 0.3em;
		}
		&-body {
			display: grid;
			grid-template-columns: max-content 1fr;
			@media (max-width: $sp-width) {
				font-size: 1.25rem;
			}
			dt {
				padding-right: 0.5em;
			}
		}
	}
	&__contents {
		@media (max-width: $sp-width) {
			padding-bottom: 2rem;
		}
	}
	&__section {
		padding-top: 4rem;
		padding-bottom: 4rem;
		@media (max-width: $sp-width) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		&:not(:last-child):not(:first-child) {
			border-top: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
		}
		.btn__wrapper {
			margin-top: 2rem;
			@media (max-width: $sp-width) {
				margin-top: 0;
				margin-bottom: 2rem;
			}
		}
	}
	&__section-title {
		@include flex;
		align-items: baseline;
		margin-bottom: 2rem;
		&-txt {
			font-size: 1.3rem;
			opacity: 0.8;
		}
	}
	&__section-heading {
		color: var(--keyColor);
		font-weight: normal;
		font-size: 2.4rem;
		margin-right: 1em;
	}
}
.novel-list__section .novel-list__description {
	@media (max-width: $sp-width) {
		font-size: 1em;
		line-height: inherit;
		margin-top: 1rem;
	}
}
.random-novel {
	margin-top: 2rem;
	padding: 6.5rem 0;
	.novel-list__page & {
		margin-top: 0;
		padding: 6.5rem 0 0;
		@media (max-width: $sp-width) {
			border-top: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
		}
	}
	@media (max-width: $sp-width) {
		padding: 4rem 0;
		margin-top: 0;
		margin-bottom: 2rem;
	}
	&__item {
		padding-top: 1em;
		max-width: 40em;
		margin: 0 auto;
		font-size: 1.6rem;
		line-height: 2;	
		font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
		@media (max-width: $sp-width) {
			font-size: min(calc((100vw - 3rem)/24), 1.6rem);
			max-width: 24em;
			margin: 0 auto;
		}
		p {
			margin-bottom: 0;
			&::before {
				content: "";
				width: 1em;
				height: 1em;
				display: inline-block;
			}
		}
	}
	&__footer {
		font-size: 0.9em;
		text-align: right;
		margin-top: 1em;
		line-height: 1.8;
	}
	&__title {
		opacity: 0.5;
	}
	a {
		opacity: 0.8;
	}
}

// 下層ページ
.page {
	&::after {
		position: relative;
		content: "";
		display: block;
		background-color: var(--bgColor);
		width: 100%;
		max-width: 72rem;
		height: 8rem;
		@media (max-width: $sp-width) {
			display: none;
		}
	}
	&__wrapper {
		padding: 0;
		@media (max-width: $sp-width) {
			padding: 0 0 4rem;
		}
		&[data-shadow="true"] {
			max-width: 72rem;
			margin: 0 auto;
			margin-left: max(1px, calc((100% - 128rem) / 2));
			position: relative;
			@media (max-width: $sp-width) {
				margin-left: 0;
				padding-right: 0;
				box-shadow: none;
				padding-bottom: 4rem;
			}
		}
	}
	&__header {
		@include flexCentering;
		padding: 1rem 0;
		&--link {
			display: inline-flex;
		}
		img {
			width: auto;
			height: 3rem;
		}
	}
	&__section-title {
		@include flex;
		align-items: baseline;
		margin-bottom: 4rem;
		position: relative;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		&::before, &::after {
			content: "";
			width: calc(100% - 8rem);
			height: 1px;
			display: block;
			position: absolute;
			left: 4rem;
			background-color: var(--keyColor);
			opacity: 0.5;
			@media (max-width: $sp-width) {
				//width: calc(100% - (4.266vw * 2));
				//left: 4.266vw;
				width: calc(100% - (1.5em * 2));
				left: 1.5em;
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		@media (max-width: $sp-width) {
			margin-bottom: 3rem;
		}
		&-txt {
			font-size: 1.3rem;
			opacity: 0.8;
		}
	}
	&-txt__wrapper {
		margin-top: 4rem;
		&.for-profile {
			padding-top: 4rem;
			border-top: 1px solid var(--keyColor);
		}
		.logo__wrapper-outline {
			width: 50%;
			display: block;
			padding: 2rem;
			margin: 1rem 0;
			border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
			text-align: center;
			background-color: #ffffff;
			@media (max-width: $sp-width) {
				width: 100%;
			}
		}
		.logo__image {
			margin: 0 auto;
		}
	}
	&__section-heading {
		color: var(--keyColor);
		font-weight: normal;
		font-size: 2.4rem;
		margin-right: 1em;
	}
	.scroll__wrapper {
		position: relative;
		&::after {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3rem;
			background: transparent linear-gradient(180deg, rgba(var(--bgColorRgb), 0) 0%, rgba(var(--bgColorRgb), 0.5) 50%, rgba(var(--bgColorRgb), 1) 100%) 0% 0% no-repeat padding-box;
			@media (max-width: $sp-width) {
				display: none;
			}
		}
	}
	.event-log__wrapper {
		max-height: 30rem;
		overflow-y: scroll;
		margin-bottom: 0;
		@media (max-width: $sp-width) {
			max-height: inherit;
			overflow: auto;
		}
		li:last-child {
			margin-bottom: 2rem;
		}
	}
	.twitter__wrapper {
		margin-top: 2rem;
		margin-bottom: 2rem;
		border: 1px solid var(--keyColor);
		width: 75%;
		opacity: 0.9;
		@media (max-width: $sp-width) {
			width: 100%;
		}
	}
	.fleet__wrapper {
		font-size: 0.9em;
		margin-top: 4rem;
		opacity: 0.9;
		@media (max-width: $sp-width) {
			width: 100%;
		}
	}
	.markdown__wrapper {
		h2 {
			font-size: 1em;
			line-height: 1.8;
			margin-top: 4rem;
		}

	}
}

.blog {
}
.blog-article {
	border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
	@media (max-width: $sp-width) {
		border: none;
	}
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
		@media (max-width: $sp-width) {
			display: block;
			padding: 1em 0;
			background-color: transparent;
			border-top: 5px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
			border-bottom: 5px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
		}
		&-title {
			margin: 0;
			a {
				border: none;
			}
		}
		&-time {
			display: block;
			text-align: right;
		}
	}
	&__thumbnail {
		display: block;
		margin-bottom: 2em;
		overflow: hidden;
		position: relative;
		border: none;
		img {
			aspect-ratio: 16/9;
			display: block;
			object-fit: cover;
			object-position: left center;
		}
	}
	&__body {
		letter-spacing: 0;
		padding: 2em 1em 1em 1em;
		@media (max-width: $sp-width) {
			padding: 1em 0;
		}
		&-more {
			margin-top: 2rem;
			text-align: right;
		}
		a.blog-article__thumbnail:hover {
			opacity: 0.8;
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			font-size: 1em;
			margin: 0;
		}
		h1 {
			margin-top: 40px;
			font-size: 1.1em;
			padding-bottom: 5px;
			margin-bottom: 1em;
			border-bottom: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.8);
		}
		h2 {
			margin-top: 40px;
			font-size: 1.1em;
			padding-bottom: 5px;
			margin-bottom: 1em;
			border-bottom: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.8);
		}
		h3 {
			font-size: 1em;
			margin-top: 40px;
			padding-bottom: 5px;
			margin-bottom: 1em;
			border-bottom: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.8);
		}
		h4 {
			font-size: 1em;
			margin-top: 40px;
			margin-bottom: 1em;
			position: relative;
			display: flex;
			align-items: center;
			&::after {
				content: "";
				margin-left: 1em;
				display: block;
				flex: 1;
				width: 100%;
				height: 1px;
				background-color: rgba($color: var(--keyColorRgb), $alpha: 0.25);
			}
		}
		hr {
			margin-top: 4em;
			margin-bottom: 4em;
		}
		iframe {
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
		}
		p {
			&:not(:first-child) {
				margin-top: 1.5em;
			}
		}
		img:not(:last-child) {
			margin-bottom: 1.5em;
		}
		.img__column-wrapper {
			display: flex;
			flex-wrap: wrap;
			img {
				width: 50%;
				@media (max-width: $sp-width) {
					width: 100%;
				}
			}
		}
		ul {
			li {
				position: relative;
				padding-left: 1em;
				&::before {
					content: "・";
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		pre {
			padding: 1em;
			background-color: rgba($color: var(--keyColorRgb), $alpha: 0.1);
			@media (max-width: $sp-width) {
				overflow-x: scroll;
			}
			code {
				@media (min-width: $pc-width) {
					white-space: pre-wrap;
					overflow-wrap: break-word;
				}
			}
		}
	}
	&__read-btn {
		@media (max-width: $sp-width) {
			width: 100%;
		}
	}
	&__footer {
		padding: 1em;
		font-size: 0.9em;
		@media (max-width: $sp-width) {
			padding:  0;
		}
		&-inner {
		}
		&-category {
			margin-top: 0.5em;
			display: flex;
			justify-content: end;
			&:not(:first-child) {
				padding-left: 1em;
			}
			dt {
				&:not(:first-child) {
					padding-left: 1em;
				}
				&::after {
					content: "：";
				}
			}
		}
		&-share {
			display: flex;
			justify-content: end;
			margin-top: 1em; //仮　カテゴリー表示時に追加調整しよう
			dd:not(:last-child) {
				padding-right: 5px;
				&::after {
					content: "/";
				}
			}
		}
	}
	&__pager {
		display: flex;
		justify-content: space-between;
		line-height: 1.5;
		@media (max-width: $sp-width) {
			flex-direction: column;
		}
	}
	&__pager-item {
		width: 50%;
		@media (max-width: $sp-width) {
			width: 100%;
		}
		position: relative;
		&:not(:empty) {
			border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.1);
			& + &:not(:empty) {
				@media (min-width: $pc-width) {
					border-left: none;
				}
				@media (max-width: $sp-width) {
					border-top: none;
				}
			}
			&::after {
				position: absolute;
				display: block;
				top: 50%;
				transform: translateY(-50%);
				color: rgba($color: var(--keyColorRgb), $alpha: 0.5);
			}
		}
		a {
			padding: 1em;
			display: block;
			height: 100%;
			border: none;
		}
		dt {
			color: var(--keyColor);
		}
		dd {
			//text-decoration: underline;
		}
		&--new:not(:empty) {
			a {
				padding-left: 2.5em;
			}
			&::after {
				content: "〈";
				left: 0;
			}
		}
		&--old:not(:empty) {
			a {
				padding-right: 2.5em;
			}
			text-align: right;
			&::after {
				content: "〉";
				right: 0;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
	&__item {
		&.is-transparent {
			opacity: 0;
		}
	}
	&__inner {
		color: var(--keyColor);
		display: block;
		padding: 12px 10px;
		line-height: 1;
		border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
		&[aria-current="page"] {
			background-color: rgba($color: var(--keyColorRgb), $alpha: 0.8);
			color: #ffffff;
			pointer-events: none;
		}
	}
}

.novel {
	max-width: 38em;
	margin-left: max(8rem, calc((100% - 128rem + 8rem) / 2));
	font-size: 1.6rem;
	line-height: 1.8;
	overflow-wrap: break-word;
	@media (max-width: $sp-width) {
		font-size: min(calc((100vw - 4rem)/23), 1.6rem);
		max-width: 23em;
		margin: 0 auto;
	}
	&.font-serif {
		.novel__body {
			font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
		}
	}
	&__header {
		margin: 8rem 0;
		@media (max-width: $sp-width) {
			margin: 4rem 0;
		}
		&-title {
			font-weight: normal;
			font-size: 1.5em;
			@media (max-width: $sp-width) {
				font-size: 1.3em;
				text-align: center;
			}
		}
	}
	blockquote {
		@media (max-width: $sp-width) {
			font-size: 0.85em;
		}
	}
	&__nav {
		font-size: 0.9em;
		margin: 8rem 0;
		padding: 0 2em;
		position: fixed;
		top: 0;
		right: 4rem;
		opacity: 0.3;
		transition: all 0.4s ease;
		&:hover {
			opacity: 1;
		}
		@media (max-width: $sp-width) {
			position: relative;
			top: initial;
			right: initial;
			opacity: 1;
			border: 1px solid rgba($color: var(--keyColorRgb), $alpha: 0.3);
			padding: 2em;
			margin: 4rem 0;
		}
		.heading {
			font-weight: normal;
			font-size: 0.9em;
			margin-bottom: 1rem;
		}
		&-list {
			line-height: 2;
			.index-tree-1 {	
			}
			.index-tree-2 {
				margin-left: 0em;
			}
			.index-tree-3 {
				margin-left: 2.5em;
			}
			a {
				border-bottom: none;
			}
		}
		&-controller {
			@include flex;
			flex-direction: column;
			row-gap: 1.6rem;
			font-size: 0.9em;
			margin-top: 4rem;
			@media (max-width: $sp-width) {
				margin-top: 2rem;
			}
			.btn {
				height: auto;
				line-height: 1;
				padding: 1rem;
				&.current {
					background-color: rgba($color: var(--keyColorRgb), $alpha: 0.2);
				}
			}
			dt {
				margin-bottom: 0.5rem;
			}
		}
	}
	&__body {
		letter-spacing: 0;
		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
			font-size: 1em;
		}
		h2 {
			font-size: 1.2em;
			margin-top: 4em;
			margin-bottom: 2em;
		}
		h3 {
			font-size: 1em;
			margin-bottom: 1em;
		}
		hr {
			margin-top: 4em;
			margin-bottom: 4em;
		}
		p {
			&::before {
				content: "";
				width: 1em;
				height: 1em;
				display: inline-block;
			}
		}
		&.tree_is_light__body {
			h2 {
				text-align: right;
				opacity: 0.5;
				& + h3 {
					margin-top: 0;
				}
			}
			h3 {
				font-size: 1.1em;
				text-align: right;
				margin-top: 6em;
				& + h4 {
					margin-top: 2em;
				}
			}
			h4 {
				margin-top: 4em;
				font-size: 1.1em;
				margin-bottom: 2em;
			}
		}
	}
	&__footer {
		font-size: 0.8em;
		opacity: 0.8;
		margin-top: 8rem;
		margin-bottom: 4rem;
		text-align: right;
		@media (max-width: $sp-width) {
			font-size: 1em;
			margin-top: 4rem;
			text-align: left;
		}
	}
	&__form {
		text-align: left;
		.form {
			max-width: initial;
		}
	}
}

@media (max-width: $sp-width) {
	.hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }

}