@charset "utf-8";

@import "core/reset";
@import "core/utility";

/* base CSS */
html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}
body {
  background-color: #fafafa;
  color: $textColor;
	font-family: Cochin, "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  -ms-touch-action: none !important;
	touch-action: none !important;
}

body.fixed {
  position: fixed;
}

p:not(:last-child), blockquote:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: $keyColor;
}

a:hover {
  opacity: 0.8;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
	position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  clip: rect(0 0 0 0);
	word-wrap: normal !important;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.font-serif {
	font-family: Cochin, "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", serif;
}

@media (max-width: $sp-width) {

  body {
    font-size: 1.3rem;
  }

	.hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }

}