// Utility
$sp-width: 767px;
$textColor: #231916;
$bgColor: #fefbf9;
$keyColor: #49aaa3; //37807a 49aaa3 //#55acee
$keyColorDark: #29605c;
$subColor: #000000;

// FlexBox
@mixin flex($flex-wrap: nowrap) {
	display: flex;
	flex-wrap: $flex-wrap;
}
@mixin flexCentering($flex-wrap: nowrap) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: $flex-wrap;
}
