/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:root {
  --bgColor: #0E2741;
  --bgColorRgb: 14, 39, 65;
  --textColor: #fefbf9;
  --textColorRgb: 254, 251, 249;
  --linkColor: #fefbf9;
  --linkColorRgb: 254, 251, 249;
}

body .header {
  display: none;
}

.trees-special__mv {
  display: flex;
  width: 100%;
  height: 100svh;
  position: relative;
  margin-bottom: 6rem;
}
@media (max-width: 767px) {
  .trees-special__mv {
    height: 500px;
    margin-bottom: 3rem;
  }
}
.trees-special__mv--inner {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.trees-special__mv--info {
  writing-mode: vertical-rl;
  max-height: 90%;
}
@media (max-width: 767px) {
  .trees-special__mv--info {
    max-height: 80%;
  }
}
.trees-special__mv--info h1 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  padding-inline-start: 1.5rem;
}
.trees-special__mv--info h1::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 1.5rem;
  top: 0;
  left: 0;
}
.trees-special__mv--info span {
  font-size: 3.6rem;
  line-height: 1.8em;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 767px) {
  .trees-special__mv--info span {
    font-size: 2.8rem;
    line-height: 1.3em;
  }
}
.trees-special__mv--item {
  width: 50%;
  height: 100%;
}
.trees-special__mv--item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}
.trees-special__content {
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem;
  max-width: 740px;
  font-size: 1.6rem;
}
.trees-special__content .book-info__copy {
  opacity: 1;
}
.trees-special__content .book-info__aside {
  display: none;
}
.trees-special__subsection {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .trees-special__subsection {
    margin-bottom: 3rem;
  }
}
.trees-special__subsection .heading {
  margin-bottom: 1rem;
}
.trees-special__subsection details {
  margin-left: 1em;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .trees-special__subsection details {
    margin-left: 0.5em;
  }
}
.trees-special__story span {
  display: block;
  text-align: right;
}
.trees-special__character--detail {
  margin-left: 1em;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .trees-special__character--detail {
    margin-left: 0;
  }
}
.trees-special__character--detail dt {
  font-weight: bold;
}
.trees-special__character--detail dd {
  margin-bottom: 1em;
}