@charset "UTF-8";
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* base CSS */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fefbf9;
  color: #181614;
  font-family: Cochin, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  letter-spacing: 0.02em;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@media (max-width: 767px) {
  body {
    font-size: min((100vw - 3rem) / 24, 1.6rem);
    letter-spacing: 0;
  }
}

body.fixed {
  position: fixed;
}

p:not(:last-child), blockquote:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: #48423b;
  text-decoration: none;
  border-bottom: 1px solid rgba(72, 66, 59, 0.5);
  transition: all 0.4s ease;
}
a.link--unstyle {
  border-bottom: none;
}
a.link--unstyle:hover {
  background-color: inherit;
}
a.unstyle {
  color: inherit;
  border-bottom: none;
}
a.unstyle:hover {
  background-color: inherit;
}
a:hover {
  background-color: rgba(55, 128, 122, 0.2);
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.font-serif {
  font-family: Cochin, "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.font-serif-jp {
  font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
}

.font-sansserif-jp {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.heading--primary {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.heading--secondary {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
.heading--color {
  color: #37807a;
}
.heading--colorDark {
  color: #29605c;
}
.heading--default {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.btn--small {
  padding: 0 1.5em;
  height: 4rem;
}
.btn--medium {
  padding: 0 1.5em;
  min-width: 24rem;
  height: 4rem;
}
.btn--color {
  background-color: rgba(55, 128, 122, 0.7);
  color: #ffffff;
}
.btn--color:hover {
  background-color: rgba(55, 128, 122, 0.7);
  opacity: 0.7;
}
.btn--pale {
  background-color: rgba(55, 128, 122, 0.1);
}
.btn--pale:hover {
  opacity: 1;
  background-color: rgba(55, 128, 122, 0.7);
  color: #ffffff;
}
.btn--outlined {
  border: 1px solid rgba(55, 128, 122, 0.3);
}

[aria-hidden=true] {
  display: none;
}

[aria-hidden=false] {
  display: block;
}

hr {
  margin: 2em 0;
  opacity: 0.1;
}

blockquote {
  border-left: 0.4rem solid #cccccc;
  padding-left: 0.8em;
  font-size: 1.05em;
  opacity: 0.8;
}
@media (max-width: 767px) {
  blockquote {
    font-size: 1em;
  }
}

.list__style--dot {
  margin-top: 0.5rem;
  margin-bottom: 1.5em;
}
.list__style--dot li::before {
  content: "・";
}
.list__sns {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
}
.list__sns li {
  margin-bottom: 0.5rem;
}
.list__sns li:not(:last-child)::after {
  content: "/";
  opacity: 0.3;
  padding: 0 0.3em;
}
.list__flex {
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.list__flex li {
  margin-right: 1em;
}
.list__dl dt:not(:first-child) {
  margin-top: 2.5rem;
}
.list__dl .btn {
  margin: 0.8rem 0;
}
.list__faq dt, .list__faq dd {
  padding-left: 2rem;
  position: relative;
}
.list__faq dt::before, .list__faq dd::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #37807a;
  width: 1em;
  height: 1em;
}
.list__faq dt:not(:first-child) {
  margin-top: 2rem;
}
.list__faq dt::before {
  content: "Q";
}
.list__faq dd::before {
  content: "A";
}

.bg__primary {
  background-color: rgba(72, 66, 59, 0.1);
}
.bg__secondary {
  background-color: rgba(55, 128, 122, 0.05);
}

.page-width {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 4rem;
}
@media (max-width: 767px) {
  .page-width {
    padding: 0 1.5em;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.op_7 {
  opacity: 0.7;
}

body.homePage .header {
  display: none;
}
body:not(.homePage) .main {
  padding-top: 6rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.header .logo__image {
  width: 12rem;
  height: auto;
}
@media (max-width: 767px) {
  .header .logo__image {
    width: 10rem;
  }
}
.header__inner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header__menu a {
  border-bottom: none;
}

.main {
  min-height: calc(100dvh - 20rem);
}

.footer {
  padding: 4rem 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 4rem 0 1.5rem;
  }
}
.footer .flex {
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .footer .flex {
    display: block;
  }
}
.footer .logo__image {
  margin-left: auto;
  margin-bottom: 1.2rem;
}
@media (max-width: 767px) {
  .footer .logo__image {
    width: 12rem;
    height: auto;
    margin-bottom: 0.8rem;
  }
}
.footer__nav-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.6rem 0;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .footer__nav-list {
    display: block;
    margin-bottom: 2rem;
    font-size: inherit;
    font-size: 0.9em;
  }
  .footer__nav-list li {
    margin-bottom: 0.8rem;
  }
}
.footer__info {
  text-align: right;
  line-height: 1.3;
}
.footer__info a {
  display: inline-block;
}
.footer__info small {
  display: block;
}

.book-tab__wrapper {
  position: relative;
}
.book-tab__wrapper::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 100%;
  background: transparent linear-gradient(90deg, rgba(254, 251, 249, 0) 0%, rgb(254, 251, 249) 50%, rgb(254, 251, 249) 100%) 0% 0% no-repeat padding-box;
}

.book-tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  overflow-x: scroll;
  margin-bottom: 2rem;
}
.book-tab__item {
  flex: none;
  margin-bottom: 1rem;
}
.book-tab__item button {
  border: 2px solid transparent;
  background: transparent;
}
.book-tab__item button[aria-selected=true] {
  border: 2px solid #37807a;
}
.book-tab__item img {
  display: block;
}
.book-tab__item img.book-image--big {
  width: 20rem;
}
.book-tab__item img.book-image--normal {
  width: 17.5rem;
}
.book-tab__item img.book-image--small {
  width: 15rem;
}
.book-tab__item:last-child {
  padding-right: 3rem;
}

.book-info__page-wrapper {
  margin-top: 4rem;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.book-info__page-wrapper .book-info__image {
  width: 35%;
}
.book-info__page-wrapper .book-info__content {
  width: 60%;
}
.book-info__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
}
.book-info__title {
  margin-right: 0.5em;
}
@media (max-width: 767px) {
  .book-info__detail {
    max-width: inherit;
  }
}
.book-info__copy {
  font-size: 1.4em;
  margin-bottom: 2rem;
  opacity: 0.4;
  font-weight: bold;
}

.novel-list__category-header {
  margin-bottom: 1rem;
}
.novel-list__category-header p {
  font-size: 0.9em;
  line-height: 1.5;
}
.novel-list__item {
  position: relative;
}
.novel-list__item:not(:first-child) {
  border-top: 1px solid rgba(72, 66, 59, 0.1);
}
@media (max-width: 767px) {
  .novel-list__item:first-child {
    border-top: 1px solid rgba(72, 66, 59, 0.1);
  }
}
.novel-list__item-link {
  display: block;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .novel-list__item-link {
    padding: 1rem 0.5rem;
  }
}
.novel-list__item-link:hover {
  background-color: rgba(55, 128, 122, 0.1) !important;
}
.novel-list__item-unlink {
  padding: 1rem;
}
.novel-list__item-unlink .novel-list__item-title {
  color: inherit;
}
@media (max-width: 767px) {
  .novel-list__item-unlink .novel-list__item-title span {
    border-bottom: none;
  }
}
.novel-list__item-title {
  font-weight: normal;
  font-size: 1.1em;
  margin-bottom: 0;
  color: #29605c;
}
.novel-list__item-title span {
  line-height: 1;
}
@media (max-width: 767px) {
  .novel-list__item-title span {
    border-bottom: 1px solid rgba(41, 96, 92, 0.3);
  }
}
.novel-list__section {
  width: 100%;
  border: 1px solid rgba(55, 128, 122, 0.3);
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .novel-list__section {
    width: 100%;
    flex-direction: column;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1rem 0 2rem 0;
  }
}
.novel-list__section:not(:last-child) {
  margin-bottom: 2rem;
}
.novel-list__section .novel-list__description {
  margin-bottom: 0;
  font-size: 0.9em;
  opacity: 0.6;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .novel-list__section .novel-list__description {
    margin-bottom: 1rem;
  }
}
.novel-list__section::before {
  width: 20rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #37807a;
  display: block;
  content: "";
}
.novel-list__section.is-paperplane::before {
  background: url("/assets/img/hyoushi-airplane.jpg") no-repeat top center;
  background-size: cover;
}
.novel-list__section.is-eien::before {
  background: url("/assets/img/hyoushi-eien.jpg") no-repeat bottom 13% center;
  background-size: cover;
}
.novel-list__section.is-dream::before {
  background: url("/assets/img/mv_dream_sp.jpg") no-repeat top 23% center;
  background-size: cover;
}
.novel-list__section.is-tree::before {
  background: url("/assets/img/hyoushi-tree.jpg") no-repeat center center;
  background-size: cover;
}
.novel-list__header {
  width: 30%;
  min-width: 30rem;
  flex: none;
}
@media (max-width: 767px) {
  .novel-list__header {
    width: 100%;
    min-width: inherit;
    padding: 1rem 0;
  }
}
.novel-list__header + .list {
  flex-grow: 1;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid rgba(55, 128, 122, 0.2);
}
@media (max-width: 767px) {
  .novel-list__header + .list {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
}
.novel-list__header .btn {
  font-size: 0.8em;
  position: absolute;
  top: 2rem;
  right: 1rem;
}
@media (max-width: 767px) {
  .novel-list__header .btn {
    top: inherit;
    right: inherit;
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
  }
}
.novel-list__header .btn:not(:hover) span {
  opacity: 0.7;
}
.novel-list__title {
  font-size: 1.1em;
  opacity: 0.8;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
.novel-list__catchcopy {
  display: block;
  font-size: 0.9em;
  opacity: 0.8;
  margin-bottom: 0;
  line-height: 1.5;
}
.novel-list .novel-category {
  font-size: 0.8em;
  opacity: 0.4;
  margin-bottom: 0;
  line-height: 1.5;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  max-width: 50%;
}
@media (max-width: 767px) {
  .novel-list .novel-category {
    max-width: inherit;
    position: relative;
    top: inherit;
    right: inherit;
    justify-content: flex-end;
  }
}
.novel-list .novel-category li:not(:last-child)::after {
  content: "/";
  opacity: 0.8;
  padding: 0 0.3em;
}

.form {
  max-width: 60rem;
}
.form__label {
  display: block;
  margin-bottom: 1.5rem;
}
.form__label-txt {
  font-size: 1.3rem;
  display: block;
}
.form .btn {
  margin-bottom: 1.5rem;
}
.form input, .form select, .form textarea {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #29605c;
}
@media (max-width: 767px) {
  .form input, .form select, .form textarea {
    font-size: 1.6rem;
  }
}
.form input, .form select {
  min-height: 3rem;
  padding: 0.5rem 1rem;
}
.form textarea {
  height: 10em;
  padding: 1rem;
}

.home__announce {
  font-size: 0.7em;
}
@media (max-width: 767px) {
  .home__announce {
    font-size: 0.8em;
  }
}
.home__firstview {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 15dvh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .home__firstview {
    padding-top: 4rem;
  }
}
.home__firstview-txt {
  width: 100%;
  position: relative;
  background-color: #fefbf9;
  padding: 4rem 0;
  z-index: 10;
}
.home__firstview-txt .page-width {
  position: relative;
}
@media (max-width: 767px) {
  .home__firstview-txt {
    padding: 4rem 0 12rem;
  }
}
.home__firstview-txt .home__header {
  position: absolute;
  right: 4rem;
  bottom: -0.2rem;
}
@media (max-width: 767px) {
  .home__firstview-txt .home__header {
    bottom: -10rem;
    right: 1.5em;
  }
}
.home__firstview-txt .logo__image {
  margin-bottom: 0.8rem;
  margin-left: auto;
}
@media (max-width: 767px) {
  .home__firstview-txt .logo__image {
    width: 12rem;
    margin-bottom: 0.5rem;
    height: auto;
  }
}
.home__firstview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.home__firstview-image img {
  width: inherit;
  height: inherit;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  display: block;
}
.home__firstview-image figcaption {
  position: absolute;
  bottom: 2rem;
  left: max(4rem, (100% - 128rem + 8rem) / 2);
  color: #fefbf9;
  z-index: 6;
  opacity: 0.7;
  font-size: 1.2rem;
  text-shadow: 0 0 0.15em rgba(0, 0, 0, 0.0666666667), 0 0 0.5em rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .home__firstview-image figcaption {
    left: initial;
    right: 2rem;
  }
}
.home__firstview-image figcaption a {
  color: #fefbf9;
  border-color: #fefbf9;
}
.home__firstview-image::before {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  content: "";
  z-index: 5;
}
.home__firstview-image.for-tree::before {
  opacity: 0.7;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
.home__firstview-image.for-vacation::before {
  opacity: 0.8;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
@media (max-width: 767px) {
  .home__firstview-image.for-vacation::before {
    opacity: 1;
  }
}
.home__firstview-image.for-dream::before {
  opacity: 0.5;
  background: transparent linear-gradient(180deg, rgba(72, 66, 59, 0.2) 0%, rgba(72, 66, 59, 0) 0%, #48423b 100%) 0% 0% no-repeat padding-box;
}
.home__firstview-image__txt {
  position: relative;
  margin: 4rem 4rem 0 auto;
  margin-right: max(4rem, (100% - 128rem + 8rem) / 2);
  padding-bottom: 4rem;
  max-width: 42rem;
  color: #fefbf9;
  z-index: 10;
  font-size: 1.5rem;
  text-shadow: 0 0 0.15em rgba(0, 0, 0, 0.0666666667), 0 0 0.5em rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .home__firstview-image__txt {
    margin: 3rem auto 0;
    padding-bottom: calc(4rem + 1.5em);
    width: calc(100vw - 3em);
  }
}
.home__firstview-image__txt .home__firstview-morelink {
  text-align: right;
}
@media (max-width: 767px) {
  .home__firstview-image__txt .home__firstview-morelink {
    text-align: left;
  }
}
.home__firstview-image__txt a {
  color: #fefbf9;
  font-size: 1.8rem;
  border-color: #fefbf9;
}
.home__firstview-image__txt a span {
  font-size: 1.2rem;
}
.home__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2rem 0 0.5rem;
  padding-right: 19rem;
}
@media (max-width: 767px) {
  .home__nav {
    padding-right: 0;
  }
}
.home__nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
}
@media (max-width: 767px) {
  .home__nav-list {
    font-size: 1.6rem;
  }
}
.home__nav-list li:not(:last-child)::after {
  content: "/";
  opacity: 0.3;
  padding: 0 0.3em;
}
.home__news {
  padding-right: 19rem;
}
@media (max-width: 767px) {
  .home__news {
    padding-right: 0;
  }
}
.home__news + .home__news {
  margin-top: 2rem;
}
.home__news .heading::after {
  content: "｜";
  opacity: 0.3;
  padding: 0 0.3em;
}
.home__news-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .home__news-body {
    display: block;
    font-size: 1.25rem;
  }
}
.home__news-body dt {
  padding-right: 0.5em;
}
@media (max-width: 767px) {
  .home__contents {
    padding-bottom: 2rem;
  }
}
.home__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .home__section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.home__section:not(:last-child):not(:first-child) {
  border-top: 1px solid rgba(55, 128, 122, 0.1);
}
.home__section .btn__wrapper {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .home__section .btn__wrapper {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
.home__section-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 2rem;
}
.home__section-title-txt {
  font-size: 1.3rem;
  opacity: 0.8;
}
.home__section-heading {
  color: #37807a;
  font-weight: normal;
  font-size: 2.4rem;
  margin-right: 1em;
}

@media (max-width: 767px) {
  .novel-list__section .novel-list__description {
    font-size: 1em;
    line-height: inherit;
    margin-top: 1rem;
  }
}

.random-novel {
  margin-top: 2rem;
  padding: 6.5rem 0;
}
@media (max-width: 767px) {
  .random-novel {
    padding: 4rem 0;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
.random-novel__item {
  padding-top: 1em;
  max-width: 40em;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2;
  font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
}
@media (max-width: 767px) {
  .random-novel__item {
    font-size: min((100vw - 3rem) / 24, 1.6rem);
    max-width: 24em;
    margin: 0 auto;
  }
}
.random-novel__item p {
  margin-bottom: 0;
}
.random-novel__item p::before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
}
.random-novel__footer {
  font-size: 0.9em;
  text-align: right;
  margin-top: 1em;
  line-height: 1.8;
}
.random-novel__title {
  opacity: 0.5;
}
.random-novel a {
  opacity: 0.8;
}

.page::after {
  position: relative;
  content: "";
  display: block;
  background-color: #fefbf9;
  width: 100%;
  max-width: 72rem;
  height: 8rem;
}
@media (max-width: 767px) {
  .page::after {
    display: none;
  }
}
.page__wrapper {
  padding: 0;
}
@media (max-width: 767px) {
  .page__wrapper {
    padding: 0 0 4rem;
  }
}
.page__wrapper[data-shadow=true] {
  max-width: 72rem;
  margin: 0 auto;
  margin-left: max(1px, (100% - 128rem) / 2);
  position: relative;
}
@media (max-width: 767px) {
  .page__wrapper[data-shadow=true] {
    margin-left: 0;
    padding-right: 0;
    box-shadow: none;
    padding-bottom: 4rem;
  }
}
.page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 0;
}
.page__header--link {
  display: inline-flex;
}
.page__header img {
  width: auto;
  height: 3rem;
}
.page__section-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 4rem;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.page__section-title::before, .page__section-title::after {
  content: "";
  width: calc(100% - 8rem);
  height: 1px;
  display: block;
  position: absolute;
  left: 4rem;
  background-color: #37807a;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .page__section-title::before, .page__section-title::after {
    width: calc(100% - 3em);
    left: 1.5em;
  }
}
.page__section-title::before {
  top: 0;
}
.page__section-title::after {
  bottom: 0;
}
@media (max-width: 767px) {
  .page__section-title {
    margin-bottom: 3rem;
  }
}
.page__section-title-txt {
  font-size: 1.3rem;
  opacity: 0.8;
}
.page-txt__wrapper {
  margin-top: 4rem;
}
.page-txt__wrapper.for-profile {
  padding-top: 4rem;
  border-top: 1px solid #37807a;
}
.page-txt__wrapper .logo__wrapper-outline {
  width: 50%;
  display: block;
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid rgba(55, 128, 122, 0.3);
  text-align: center;
}
@media (max-width: 767px) {
  .page-txt__wrapper .logo__wrapper-outline {
    width: 100%;
  }
}
.page-txt__wrapper .logo__image {
  margin: 0 auto;
}
.page__section-heading {
  color: #37807a;
  font-weight: normal;
  font-size: 2.4rem;
  margin-right: 1em;
}
.page .scroll__wrapper {
  position: relative;
}
.page .scroll__wrapper::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: transparent linear-gradient(180deg, rgba(254, 251, 249, 0) 0%, rgba(254, 251, 249, 0.5) 50%, rgb(254, 251, 249) 100%) 0% 0% no-repeat padding-box;
}
@media (max-width: 767px) {
  .page .scroll__wrapper::after {
    display: none;
  }
}
.page .event-log__wrapper {
  max-height: 30rem;
  overflow-y: scroll;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .page .event-log__wrapper {
    max-height: inherit;
    overflow: auto;
  }
}
.page .event-log__wrapper li:last-child {
  margin-bottom: 2rem;
}
.page .twitter__wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #37807a;
  width: 75%;
  opacity: 0.9;
}
@media (max-width: 767px) {
  .page .twitter__wrapper {
    width: 100%;
  }
}
.page .fleet__wrapper {
  font-size: 0.9em;
  margin-top: 4rem;
  opacity: 0.9;
}
@media (max-width: 767px) {
  .page .fleet__wrapper {
    width: 100%;
  }
}
.page .markdown__wrapper h2 {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 4rem;
}

.novel {
  max-width: 38em;
  margin-left: 8rem;
  font-size: 1.6rem;
  line-height: 1.8;
  overflow-wrap: break-word;
}
@media (max-width: 767px) {
  .novel {
    font-size: min((100vw - 4rem) / 23, 1.6rem);
    max-width: 23em;
    margin: 0 auto;
  }
}
.novel.font-serif .novel__body {
  font-family: "YuMincho", "Yu Mincho", "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", "Hiragino Mincho StdN", serif;
}
.novel__header {
  margin: 8rem 0;
}
@media (max-width: 767px) {
  .novel__header {
    margin: 4rem 0;
  }
}
.novel__header-title {
  font-weight: normal;
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .novel__header-title {
    font-size: 1.3em;
    text-align: center;
  }
}
.novel__body {
  letter-spacing: 0;
}
.novel__body h1, .novel__body h2, .novel__body h3, .novel__body h4, .novel__body h5, .novel__body h6 {
  font-weight: normal;
  font-size: 1em;
}
.novel__body h2 {
  font-size: 1.2em;
  margin-top: 4em;
  margin-bottom: 2em;
}
.novel__body h3 {
  font-size: 1em;
  margin-bottom: 1em;
}
.novel__body hr {
  margin-top: 4em;
  margin-bottom: 4em;
}
.novel__body p::before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
}
.novel__footer {
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: right;
}
@media (max-width: 767px) {
  .novel__footer {
    font-size: 1em;
    margin-top: 4rem;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}