@charset "UTF-8";
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* base CSS */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #fefbf9;
  color: #181614;
  font-family: Cochin, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  -webkit-text-size-adjust: none;
  touch-action: none !important;
}

body.fixed {
  position: fixed;
}

p:not(:last-child), blockquote:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: #29605c;
  text-decoration: none;
  border-bottom: 1px solid rgba(41, 96, 92, 0.3);
}
a.link--unstyle {
  border-bottom: none;
}
a.unstyle {
  color: inherit;
  border-bottom: none;
}

a:not(.unstyle):hover {
  opacity: 0.8;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.font-serif {
  font-family: Cochin, "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.heading--primary {
  font-size: 1.8rem;
}
.heading--secondary {
  font-size: 1.6rem;
}
.heading--color {
  color: #37807a;
}
.heading--default {
  font-size: 1.4rem;
  font-weight: normal;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.btn--small {
  padding: 0 1.5em;
  height: 4rem;
}
.btn--medium {
  padding: 0 1.5em;
  min-width: 24rem;
  height: 4rem;
}
.btn--color {
  background-color: rgba(55, 128, 122, 0.7);
  color: #ffffff;
}
.btn--pale {
  background-color: rgba(55, 128, 122, 0.1);
}
.btn--pale:hover {
  opacity: 1;
  background-color: rgba(55, 128, 122, 0.7);
  color: #ffffff;
}
.btn--outlined {
  border: 1px solid rgba(55, 128, 122, 0.3);
}

[aria-hidden=true] {
  display: none;
}

[aria-hidden=false] {
  display: block;
}

hr {
  margin: 2em 0;
  opacity: 0.1;
}

blockquote {
  border-left: 0.4rem solid #cccccc;
  padding-left: 0.8em;
  font-size: 1.05em;
  opacity: 0.8;
}

.list__style--dot {
  margin-top: 0.5rem;
  margin-bottom: 1.5em;
}
.list__style--dot li::before {
  content: "・";
}
.list__sns {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
}
.list__sns li {
  margin-bottom: 0.5rem;
}
.list__sns li:not(:last-child)::after {
  content: "/";
  opacity: 0.3;
  padding: 0 0.3em;
}
.list__flex {
  display: flex;
  flex-wrap: nowrap;
}
.list__flex li {
  margin-right: 1em;
}
.list__dl dt:not(:first-child) {
  margin-top: 2.5rem;
}
.list__dl .btn {
  margin: 0.8rem 0;
}
.list__faq dt, .list__faq dd {
  padding-left: 2rem;
  position: relative;
}
.list__faq dt::before, .list__faq dd::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #37807a;
  width: 1em;
  height: 1em;
}
.list__faq dt:not(:first-child) {
  margin-top: 2rem;
}
.list__faq dt::before {
  content: "Q";
}
.list__faq dd::before {
  content: "A";
}

.bg__primary {
  background-color: rgba(72, 66, 59, 0.1);
}
.bg__secondary {
  background-color: rgba(55, 128, 122, 0.05);
}

.page-width {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.op_7 {
  opacity: 0.7;
}

.main {
  min-height: calc(100dvh - 20rem);
}

.footer {
  padding: 4rem 0;
}
.footer .flex {
  justify-content: space-between;
  align-items: flex-end;
}
.footer .logo__image {
  margin-left: auto;
  margin-bottom: 0.8rem;
}
.footer__nav-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.6rem 1.8rem;
  font-size: 1.2rem;
}
.footer__info {
  text-align: right;
}

.book-tab__wrapper {
  position: relative;
}
.book-tab__wrapper::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 100%;
  background: transparent linear-gradient(90deg, rgba(254, 251, 249, 0) 0%, rgb(254, 251, 249) 50%, rgb(254, 251, 249) 100%) 0% 0% no-repeat padding-box;
}

.book-tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  overflow-x: scroll;
  margin-bottom: 2rem;
}
.book-tab__item {
  flex: none;
  margin-bottom: 1rem;
}
.book-tab__item button {
  border: 2px solid transparent;
  background: transparent;
}
.book-tab__item button[aria-selected=true] {
  border: 2px solid #37807a;
}
.book-tab__item img {
  display: block;
}
.book-tab__item img.book-image--big {
  width: 20rem;
}
.book-tab__item img.book-image--normal {
  width: 17.5rem;
}
.book-tab__item img.book-image--small {
  width: 15rem;
}
.book-tab__item:last-child {
  margin-right: 3rem;
}

.book-info__page-wrapper {
  margin-top: 4rem;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.book-info__page-wrapper .book-info__image {
  width: 35%;
}
.book-info__page-wrapper .book-info__content {
  width: 60%;
}
.book-info__page-wrapper .list__flex {
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
.book-info__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
}
.book-info__title {
  margin-right: 0.5em;
}
@media (max-width: 767px) {
  .book-info__detail {
    max-width: inherit;
  }
}
.book-info__copy {
  font-size: 1.4em;
  margin-bottom: 2rem;
  opacity: 0.4;
  font-weight: bold;
}

.novel-list__item {
  border-top: 1px solid rgba(72, 66, 59, 0.1);
  position: relative;
}
.novel-list__item-link {
  display: block;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}
.novel-list__item-link:hover {
  background-color: rgba(55, 128, 122, 0.05);
}
.novel-list__item-title {
  font-weight: normal;
  font-size: inherit;
  margin-bottom: 0;
  color: #29605c;
}
.novel-list__item-title span {
  line-height: 1;
}
.novel-list__item.for-btn {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: right;
}
.novel-list__item .btn {
  font-size: 0.8em;
}
.novel-list__item .btn:not(:hover) span {
  opacity: 0.7;
}
.novel-list__wrapper {
  -moz-column-count: 1;
       column-count: 1;
}
.novel-list__section {
  width: 100%;
  max-width: 80rem;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  border: 1px solid rgba(55, 128, 122, 0.3);
  padding: 2rem 2rem 1rem;
  position: relative;
}
@media (max-width: 767px) {
  .novel-list__section {
    width: 100%;
  }
}
.novel-list__section:not(:last-child) {
  margin-bottom: 2rem;
}
.novel-list__section .novel-list__description {
  margin-bottom: 1rem;
  font-size: 0.9em;
  opacity: 0.6;
  line-height: 1.5;
}
.novel-list__section::before {
  width: 20rem;
  height: 1rem;
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #37807a;
  display: block;
  content: "";
}
.novel-list__section.is-paperplane::before {
  background: url("/assets/img/hyoushi-airplane.jpg") no-repeat top center;
  background-size: cover;
}
.novel-list__section.is-eien::before {
  background: url("/assets/img/hyoushi-eien.jpg") no-repeat bottom 13% center;
  background-size: cover;
}
.novel-list__title {
  font-size: 1.1em;
  opacity: 0.8;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
.novel-list__catchcopy {
  display: block;
  font-size: 0.9em;
  opacity: 0.5;
  margin-bottom: 0;
  line-height: 1.5;
}
.novel-list .novel-category {
  font-size: 0.8em;
  opacity: 0.4;
  margin-bottom: 0;
  line-height: 1.5;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  max-width: 50%;
}
@media (max-width: 767px) {
  .novel-list .novel-category {
    max-width: inherit;
    position: relative;
    top: inherit;
    right: inherit;
    justify-content: flex-end;
  }
}
.novel-list .novel-category li:not(:last-child)::after {
  content: "/";
  opacity: 0.8;
  padding: 0 0.3em;
}

.form {
  max-width: 60rem;
}
.form__label {
  display: block;
  margin-bottom: 1.5rem;
}
.form__label-txt {
  font-size: 1.3rem;
  display: block;
}
.form .btn {
  margin-bottom: 1.5rem;
}
.form input, .form select, .form textarea {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #29605c;
}
@media (max-width: 767px) {
  .form input, .form select, .form textarea {
    font-size: 1.6rem;
  }
}
.form input, .form select {
  min-height: 3rem;
  padding: 0.5rem 1rem;
}
.form textarea {
  height: 10em;
  padding: 1rem;
}

.home__firstview {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 15vh;
}
.home__firstview-txt {
  width: 100%;
  position: relative;
  background-color: #fefbf9;
  padding: 4rem 0;
  z-index: 10;
}
.home__firstview-txt .logo__image {
  margin-bottom: 1.5rem;
}
.home__firstview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.home__firstview-image img {
  width: inherit;
  height: inherit;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  display: block;
}
.home__firstview-image figcaption {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fefbf9;
  z-index: 6;
  opacity: 0.7;
  font-size: 1.2rem;
}
.home__firstview-image::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.5;
  top: 0;
  left: 0;
  content: "";
  z-index: 5;
}
.home__firstview-image__txt {
  position: relative;
  margin: 4rem 4rem 0 auto;
  padding-bottom: 4rem;
  max-width: 42rem;
  color: #fefbf9;
  z-index: 10;
  font-size: 1.5rem;
}
.home__firstview-image__txt a {
  color: #fefbf9;
  font-size: 1.8rem;
}
.home__firstview-image__txt a span {
  font-size: 1.2rem;
}
.home__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2rem 0 0.5rem;
}
.home__nav-list {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.6rem;
}
.home__nav-list li:not(:last-child)::after {
  content: "/";
  opacity: 0.3;
  padding: 0 0.3em;
}
.home__news {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.home__news .heading::after {
  content: "｜";
  opacity: 0.3;
  padding: 0 0.3em;
}
.home__news-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.3rem;
}
.home__news-body dt {
  padding-right: 0.5em;
}
.home__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.home__section:not(:last-child):not(:first-child) {
  border-bottom: 1px solid rgba(55, 128, 122, 0.1);
}
.home__section__innner-sub {
  padding-left: 1em;
}
.home__section-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 2rem;
}
.home__section-title-txt {
  font-size: 1.3rem;
  opacity: 0.8;
}
.home__section-heading {
  color: #37807a;
  font-weight: normal;
  font-size: 2.4rem;
  margin-right: 1em;
}

.random-novel {
  padding: 6.5rem 4rem;
}
.random-novel__inner {
  max-width: 42em;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.8;
}

.page {
  padding: 4rem 0;
}
.page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 0;
}
.page__header--link {
  display: inline-flex;
}
.page__header img {
  width: auto;
  height: 3rem;
}
.page__section-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 2rem;
}
.page__section-title-txt {
  font-size: 1.3rem;
  opacity: 0.8;
}
.page__section-heading {
  color: #37807a;
  font-weight: normal;
  font-size: 2.4rem;
  margin-right: 1em;
}
.page .scroll__wrapper {
  position: relative;
}
.page .scroll__wrapper::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: transparent linear-gradient(180deg, rgba(254, 251, 249, 0) 0%, rgba(254, 251, 249, 0.5) 50%, rgb(254, 251, 249) 100%) 0% 0% no-repeat padding-box;
}
@media (max-width: 767px) {
  .page .scroll__wrapper::after {
    display: none;
  }
}
.page .event-log__wrapper {
  max-height: 30rem;
  overflow-y: scroll;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .page .event-log__wrapper {
    max-height: inherit;
  }
}
.page .event-log__wrapper li:last-child {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  body {
    font-size: 1.3rem;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}